{% spaceless %}
<tr>
    <td>{{ '{{name}}' }}</td>
    <td><a href="#"><span class="aui-icon aui-icon-small aui-iconfont-remove remove-object" data-value="{{ '{{id}}' }}">{{ 'generic.remove'|trans }}</span></a></td>
</tr>
{% endspaceless %}
