{% extends 'OktolabRentBundle:Admin\\CostUnit:new.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('admin_costunit') }}">{{ 'generic.overview' | trans }}</a>
    <a class="aui-button" href="{{ path('admin_costunit_show', {'id': costunit.id}) }}">{{ 'generic.back'|trans }}</a>
    <a class="aui-button" href="{{ path('admin_costunit_delete', {'id': costunit.id}) }}">{{ 'generic.delete'|trans }}</a>
{%endblock%}
