{% extends 'OktolabRentBundle:Admin\\CostUnit:base.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('admin_costunit_new') }}">{{ 'admin.costunit.new' | trans }}</a>
{%endblock%}
{% block content %}
    {{ parent() }}
    {% set companionPages = (renderPages-1)/2%}
    {% set startPoint = currentPage - companionPages %}

    {% if startPoint < 2%}
        {% set startPoint = 2 %}
    {% endif %}
    {% if startPoint + renderPages > pages -1 %}
        {% set startPoint = pages - renderPages %}
    {% endif %}

    <ol class="aui-nav aui-nav-pagination">
        {% for i in 1..pages %}
            {% if loop.first %}
                {% if currentPage > 1%}
                    <li class="aui-nav-previous"><a href="{{ path('admin_costunit', {'page': currentPage-1}) }}">{{"generic.previous"|trans}}</a></li>
                {% endif%}
                <li class="aui-nav-first {% if i == currentPage %}aui-nav-selected{% endif %}"><a href="{{ path('admin_costunit', {'page': i}) }}">{{i}}</a></li>
                {% if startPoint > 2%}
                         <li class="aui-nav-truncation"><a href="#">&hellip;</a></li>
                {% endif %}
            {% endif %}

            {% if (i >= startPoint) and (i < startPoint + renderPages )%}
                    <li {% if i == currentPage %}class="aui-nav-selected"{% endif %}><a href="{{ path('admin_costunit', {'page': i}) }}">{{i}}</a></li>
            {% endif %}

            {% if loop.last %}
                {% if startPoint + renderPages < pages%}
                         <li class="aui-nav-truncation"><a href="#">&hellip;</a></li>
                {% endif %}
                <li class="aui-nav-last {% if i == currentPage %}aui-nav-selected{% endif %}"><a href="{{ path('admin_costunit', {'page': pages}) }}">{{pages}}</a></li>
                {% if currentPage < pages%}
                <li class="aui-nav-previous"><a href="{{ path('admin_costunit', {'page': currentPage+1}) }}">{{"generic.next"|trans}}</a></li>
            {% endif%}
            {% endif %}
        {% endfor %}
    </ol>

    {% if entities|length == 0 %}
        <br />
        {{ 'admin.costunit.noneFound' | trans }}
    {% else %}
        <table class="aui">
            <thead>
                <tr>
                    <th id="title">{{'admin.costunit.name'|trans}}</th>
                    <th id="items">{{'generic.numberThings'|trans({'%thing%':'admin.costunit.contacts'|trans})}}</th>
                    <th id="action">{{'generic.actions'|trans}}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td headers="title">{{ entity.name }}</td>
                    {% if entity.contacts |length == 0%}
                        <td headers="items">{{ 'generic.none'|trans({'%what%':'admin.costunit.contacts'|trans}) }}</td>
                    {% else %}
                        <td headers="items">{{ entity.contacts | length }}</td>
                    {% endif %}
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li><a href="{{ path('admin_costunit_show', { 'id': entity.id }) }}">{{'generic.show'|trans}}</a></li>
                            <li><a href="{{ path('admin_costunit_edit', { 'id': entity.id }) }}">{{'generic.edit'|trans}}</a></li>
                            <li><a href="{{ path('admin_costunit_delete', { 'id': entity.id }) }}">{{'generic.delete'|trans}}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}