{% extends 'OktolabRentBundle:Admin\\CostUnit:base.html.twig' %}
{%block buttons%}
    <a class="aui-button" href="{{ path('admin_costunit') }}">{{ 'generic.overview' | trans }}</a>
{%endblock%}

{% block content %}
    {{ parent() }}
    {{ form_start(form, {'attr': { 'class': 'aui' } }) }}
    <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.abbreviation) }}
            {{ form_row(form.mainContact) }}

            <div class="field-group">
                <label for="oktolab_rentbundle_admin_costunit_searchItems">{{ 'generic.search' | trans }}</label>
                <input class="text long-field" type="text" id="oktolab_rentbundle_admin_costunit_searchContacts" name="oktolab_rentbundle_admin_costunit_searchItems" title="{{ 'Search for Items' | trans }}">
                <div class="description">{{ 'admin.costunit.searchForContacts' | trans}}</div>
            </div>

        <div class="field-group aui-oktolab-form-table">
            <label>{{ 'admin.costunit.contacts' | trans }}</label>

            <table class="aui">
                <thead>
                    <tr>
                        <th>{{ 'admin.contact.name' | trans }}</th>
                        <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'generic.actions' | trans }}</span></th>
                    </tr>
                </thead>
                <tbody class="costunit-contacts" data-index="0" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Admin/CostUnit:contactRowPrototype.html.twig' %}{% endfilter %}">
                    {% if costunit.contacts is defined %}
                        {% for contact in costunit.contacts %}
                            <tr>
                                <td>{{ contact.name }}</td>
                                <td><a href="#"><span class="aui-icon aui-icon-small aui-iconfont-remove remove-object" data-value="{{ contact.guid }}">{{ 'generic.remove' | trans }}</span></a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </fieldset>

    <div class="buttons-container">
        <button class="aui-button aui-button-primary" type="submit">{{ 'generic.submit' | trans }}</button>
    </div>
    <fieldset class="hidden-contacts" style="display:none" data-index="{{ form.contacts | length }}" data-prototype="{{ '<input type="hidden" id="oktolab_bundle_rentbundle_costunit_contacts_{{index}}" name="oktolab_bundle_rentbundle_costunit[contacts][{{index}}]" value="{{id}}" />'|escape('html') }}">
        {% if costunit.contacts is defined %}
            {% for contact in costunit.contacts %}
                <input type="hidden" id="oktolab_bundle_rentbundle_costunit_contacts_{{contact.id}}" name="oktolab_bundle_rentbundle_costunit[contacts][{{contact.id}}]" value="{{contact.guid}}" />
            {% endfor %}
        {% endif %}
    </fieldset>
    {% do form.contacts.setRendered %}
    {{ form_end(form) }}
{% endblock %}