{% spaceless %}
<tr data-value="{{ '{{value}}'}}">
    <td>{{ '{{barcode}}' }}</td>
    <td>{{ '{{displayName}}' }}</td>
    <td class="event-object-icons">
        <a href="#" class="remove" data-value="{{ '{{value}}' }}">
            <span class="aui-icon aui-icon-small aui-iconfont-remove">{{ 'Remove'|trans }}</span>
        </a>
        <a href="#" class="scan" data-value="{{ '{{value}}' }}">
            <span class="aui-icon aui-icon-small aui-iconfont-approve">{{ 'Scan'|trans }}</span>
        </a>
    </td>
    <td class="hidden">
        <div class="field-group" data-value="{{ '{{value}}' }}">
            {% set formId = 'orb_series_event_finalize_form_events_'~eventIndex %}
            {% set formName = 'orb_series_event_finalize_form[events][%s][objects]'|format(eventIndex) %}

            <input id="{{ '%s_objects_{{index}}_type'|format(formId) }}" name="{{ '%s[{{index}}][type]'|format(formName) }}" value="{{ '{{type}}' }}" />
            <input id="{{ '%s_objects_{{index}}_object'|format(formId) }}" name="{{ '%s[{{index}}][object]'|format(formName) }}" value="{{ '{{id}}' }}" />
            <input id="{{ '%s_objects_{{index}}_scanned'|format(formId) }}" name="{{ '%s[{{index}}][scanned]'|format(formName) }}" value="0" class="scanner" />
        </div>
    </td>
</tr>
{% endspaceless %}
