{% spaceless %}
<tr data-value="{{ '{{value}}'}}">
    <td>{{ '{{barcode}}' }}</td>
    <td>{{ '{{displayName}}' }}</td>
    <td class="event-object-icons">
        <a href="#" class="remove" data-value="{{ '{{value}}' }}">
            <span class="aui-icon aui-icon-small aui-iconfont-remove">{{ 'Remove'|trans }}</span>
        </a>
    </td>
    <td class="hidden">
        <div class="field-group" data-value="{{ '{{value}}' }}">
            {% set formName = 'orb_series_event_form' %}

            <input id="{{ '%s_objects_{{index}}_type'|format(formName) }}" name="{{ '%s[objects][{{index}}][type]'|format(formName) }}" value="{{ '{{type}}' }}" />
            <input id="{{ '%s_objects_{{index}}_object'|format(formName) }}" name="{{ '%s[objects][{{index}}][object]'|format(formName) }}" value="{{ '{{id}}' }}" />
            <input id="{{ '%s_objects_{{index}}_scanned'|format(formName) }}" name="{{ '%s[objects][{{index}}][scanned]'|format(formName) }}" value="0" class="scanner" />
        </div>
    </td>
</tr>
{% endspaceless %}
