<div id="rent-series-inventory-form">
    {{ form_start(form, {'attr': {'class': 'aui series-event', 'data-value': form.vars.id } }) }}
        <fieldset>
            {{ form_errors(form) }}
            <h3>{{ 'series_event.form'|trans }}</h3>
            {{ form_row(form.end, {'attr': {'class': 'text datetime'} }) }}
            {{ form_row(form.repetition) }}
            <div class="costunit-contact-search">
                <h3>{{'series_event.event_form'|trans }}</h3>
                <div class="field-group">
                    {{ form_label(form.costunit) }}
                    <input type="text" class="text orb_series_costunit_typeahead">
                </div>
                {{ form_row(form.contact) }}
                <div class="hidden">
                    {{ form_row(form.costunit) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="object-date-search">
                {{ form_row(form.event_begin, {'attr': {'class': 'text event-datetime orb_series_event_form_event_begin'} }) }}
                {{ form_row(form.event_end, {'attr': {'class': 'text event-datetime orb_series_event_form_event_end'} }) }}
                <div class="field-group">
                    <label for="inventory-search-field">{{ 'generic.search'|trans }}</label>
                    <input class="text orb_series_event_form_inventory_search" type="text" name="inventory-search-field" title="{{ 'Search for Barcodes, Items, Sets, ...'|trans }}" disabled="disabled"/>
                    <div class="description">{{'event.inventory.search'|trans}}</div>
                </div>
                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'event.objects'|trans }}</label>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="basic-barcode">{{ 'generic.barcode'|trans }}</th>
                                <th id="basic-name">{{ 'generic.name'|trans }}</th>
                                <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions'|trans }}</span></th>
                            </tr>
                        </thead>
                        <tbody id="orb_series_event_form_object_table" class="event-objects" data-index="-1" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event/SeriesEvent:objectPrototype.html.twig' %}{% endfilter %}">
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>

        <div class="buttons-container">
            <div class="buttons">
            </div>
        </div>

        {% do form.objects.setRendered %}
    {{ form_end(form) }}
</div>
