{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% block content %}
<div>
    <h2>{{ 'series_event.form'|trans }}</h2>
    <form class="aui">
            <fieldset>
                <div class="field-group viewMode">
                    <label>{{ 'admin.costunit'|trans }}</label>
                    <span class='field-value'>{{ series_event.events[0].costunit.name|default('series_event.no_costunit'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'admin.contact'|trans }}</label>
                    <span class='field-value'>{{ series_event.events[0].contact.name|default('series_event.no_contact'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'generic.description'|trans }}</label>
                    <span class='field-value'>{{ series_event.description|default('series_event.no_description'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'series_event.begin'|trans }}</label>
                    <span class='field-value'>{{ series_event.events[0].begin|date('H:i d.m.Y') }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'series_event.end'|trans }}</label>
                    <span class='field-value'>{{ series_event.end|date('H:i d.m.Y') }}</span>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'series_event.events'|trans }}</label>
                    <table class="aui aui-table-sortable">
                        <thead>
                            <tr>
                                <th>{{ 'event.event_time'|trans }}</th>
                                <th>{{ 'event.state'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in series_event.events %}
                            <tr>
                                <td>
                                    {{ event.begin|date('H:i d.m.Y') }} - {{ event.end|date('H:i d.m.Y')}}
                                </td>
                                <td>
                                    {% include 'OktolabRentBundle:Event/Event:_event_status_lozenge.html.twig' with {'event': event} %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div class="event-controls buttons-container">
                <a href="{{ path('rentbundle_dashboard') }}" class="aui-button aui-button-link">{{ 'generic.dashboard'|trans }}</a>
            </div>
        </form>
</div>
{% endblock %}