{% if qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_OKAY')%}
    <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_FLAW')%}
    <span class="aui-lozenge aui-lozenge-complete aui-lozenge-subtle">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_DAMAGED')%}
    <span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_DESTROYED')%}
    <span class="aui-lozenge aui-lozenge-error">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_LOST')%}
    <span class="aui-lozenge aui-lozenge-error">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_MAINTENANCE')%}
    <span class="aui-lozenge aui-lozenge-moved">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_DISCARDED')%}
    <span class="aui-lozenge aui-lozenge-default">{{ qms.statusString|trans}}</span>
{% elseif qms.status is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Inventory\\Qms::STATE_DEFERRED')%}
    <span class="aui-lozenge aui-lozenge-error">{{ qms.statusString|trans }}</span>
{% endif %}