{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% block content %}
    <div id="qms-form">
        <h2>{{ 'inventory.item.new_qms_status'|trans({'%itemName%': form.vars.value.item.title}) }}</h2>
        {{ form_start(form, {'attr': {'class': 'aui', 'novalidate': 'novalidate'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            {{ form_row(form.status) }}
            {{ form_row(form.description, {'attr': {'rows': 3} }) }}
            <div class="hidden">
               {{ form_row(form.item, {'attr': {'class': 'hidden'} }) }}
               {{ form_row(form.event, {'attr': {'class': 'hidden'} }) }}
               {{ form_row(form.active, {'attr': {'class': 'hidden'} }) }}
            </div>
        </fieldset>
        <div class="buttons-container">
            {{ form_widget(form.save, {'attr': {'class': 'aui-button aui-button-primary'}, 'label': 'generic.submit'|trans }) }}
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}