{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{# % block content_header %}
        <div class="aui-page-header-inner">

                <ol class="aui-progress-tracker aui-progress-tracker-inverted" style="width: 600px">
                    {% set state = form.vars.value.state %}
                    {% set current = 'aui-progress-tracker-step-current' %}

                    <li class="aui-progress-tracker-step"><span>{{ 'Reservieren'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state <= constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_RESERVED') ? current : '' }}"><span>{{ 'Ausgeben oder Ändern'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_LENT') ? current : '' }}"><span>{{ 'Rücknehmen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DELIVERED') ? current : '' }}"><span>{{ 'Abschließen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_COMPLETED') ? current : '' }}"><span>{{ 'Abgeschlossen'|trans }}</span></li>
                </ol>

        </div>
{% endblock % #}
{% block content %}
    <div id="qms-form">
        <h2>{{ 'inventory.item.new_qms_status'|trans({'%itemName%': form.vars.value.item.title}) }}</h2>
        {{ form_start(form, {'attr': {'class': 'aui', 'novalidate': 'novalidate'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            {{ form_row(form.status) }}
            {{ form_row(form.description, {'attr': {'rows': 3} }) }}
            <div class="hidden">
               {{ form_row(form.item, {'attr': {'class': 'hidden'} }) }}
               {{ form_row(form.event, {'attr': {'class': 'hidden'} }) }}
            </div>
        </fieldset>
        <div class="buttons-container">
            {{ form_widget(form.save, {'attr': {'class': 'aui-button aui-button-primary'}, 'label': 'generic.submit'|trans }) }}
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}