{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                {% if entity.picture is not null %}
                    <img src="{{ entity.picture.getRelativePath | apply_filter('page_avatar') }}" />
                {% endif%}
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{entity.title }} bearbeiten</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_item_edit', { 'id' : entity.id }) }}">{{ 'generic.back' | trans }}</a>
                <a class="aui-button" href="{{ path('inventory_item') }}">{{ 'generic.backToList' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content%}
    {{ form_start(edit_form, {'attr': {'class': 'aui oktolab-plupload-form'}}) }}
        <fieldset>
            <field class="plupload" data-plupload="single"></field>
            <div id="containerfile" class="field-group">
                <div id="file">{{ 'generic.runtimeError' |trans }}</div>
                <br />
                <a id="pickfile" href="#">[{{'generic.selectFile'|trans}}]</a>
            </div>

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" id="uploadfile" type="submit">{{'generic.upload'|trans}}</button>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}