{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if item.picture is not null %}
                        <img src="{{ item.picture.getRelativePath | apply_filter('page_avatar') }}" />
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>{{'inventory.item.edit'|trans({'%itemTitle%': item.title})}}</h1>
            <a href="{{ path('inventory_item_picture_upload', { 'id': item.id}) }}">{{ "inventory.item.uploadPicture" | trans }}</a>
            {% if item.picture is not null %}
                <a href="{{ path('inventory_item_attachment_delete', { 'entity_id': item.id, 'attachment_id': item.picture.getId }) }}">{{"inventory.item.deletePicture" | trans }}</a>
            {% endif %}
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_item_show', { 'id': item.id }) }}">{{'generic.back'|trans}}</a>
                    <a class="aui-button" href="{{ path('inventory_item') }}">{{'generic.backToList'|trans}}</a>
                    <a class="aui-button" href="{{ path('inventory_item_delete', { 'id': item.id }) }}">{{'generic.delete'|trans}}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content%}
    {{ form_start(edit_form, {'attr': {'class': 'aui oktolab-plupload-form'}}) }}
        <fieldset>
            {{ form_errors(edit_form) }}

            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.set) }}
            {{ form_row(edit_form.description, {'attr': {'placeholder': 'Description of the item'} }) }}
            {{ form_row(edit_form.barcode) }}
            {{ form_row(edit_form.buyDate) }}
            {{ form_row(edit_form.serialNumber) }}
            {{ form_row(edit_form.vendor) }}
            {{ form_row(edit_form.modelNumber) }}
            {{ form_row(edit_form.place) }}
            {{ form_row(edit_form.category) }}                   
            <field class="plupload" data-plupload="multiple"></field>
            <div id="container" class="field-group">
                <div id="filelist">{{ 'generic.loadEngine' | trans }}</div>
                <br />
                <a id="pickfiles" href="#">[{{'generic.selectFiles'|trans}}]</a>
            </div>

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" id="uploadfiles" type="submit">{{'generic.submit'|trans}}</button>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}

{% block sidebar %}
    <aside class="aui-page-panel-sidebar">
        <h3>
            {{ 'inventory.item.attachments' | trans}} {{ item.attachments | length }}
        </h3>
        {% for attachment in item.attachments %}
            <img src="{{ sauce(attachment) }}" />
            <a href="{{ path('inventory_item_attachment_delete', {'entity_id' : item.id, 'attachment_id' : attachment.id }) }}">{{"Delete Attachment" | trans }}</a>
        {% endfor %}
    </aside>
{% endblock %}