{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{entity.title }} bearbeiten</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_item_show', { 'id': entity.id }) }}">{% trans %}Zurück{% endtrans %}</a>
                <a class="aui-button" href="{{ path('inventory_item') }}">{% trans %}Back to list{% endtrans %}</a>
                <a class="aui-button" href="{{ path('inventory_item_delete', { 'id': entity.id }) }}">{% trans %}Löschen{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content%}
    {{ form_start(edit_form, {'attr': {'class': 'aui'}}) }}
        <fieldset>
            {{ form_errors(edit_form) }}

            {{ form_row(edit_form.title) }}
            {{ form_row(edit_form.set) }}
            {{ form_row(edit_form.description, {'attr': {'placeholder': 'Description of the item'} }) }}
            {{ form_row(edit_form.barcode) }}
            {{ form_row(edit_form.buyDate) }}
            {{ form_row(edit_form.serialNumber) }}
            {{ form_row(edit_form.vendor) }}
            {{ form_row(edit_form.modelNumber) }}
            <div id="container" class="field-group">
                <div id="filelist">Engine wird geladen...</div>
                <br />
                <a id="pickfiles" href="#">[{% trans %}Select files{% endtrans %}]</a>
            </div>

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" id="uploadfiles" type="submit">{% trans %}Submit{% endtrans %}</button>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}

{% block sidebar %}
    <aside class="aui-page-panel-sidebar">
        {% for attachment in entity.attachments %}
            <img src="{{ sauce(attachment) }}" />
            <a href="#">{% trans %}Anhang entfernen{% endtrans %}</a>
        {% endfor %}
    </aside>
{% endblock %}