{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="{{ asset('bundles/oktolabrent/images/item.png') }}" />
            </div>
        </div>
    </div>

    <div class="aui-page-header-main">
        <ol class="aui-nav aui-nav-breadcrumbs">
            <li>{{ 'generic.inventory'|trans }}</li>
        </ol>
        <h1>
            <span id="title-text">
                <a href="{{ path('inventory_item_inactive') }}">{{ 'inventory.inactive_items'|trans }}</a>
            </span>
        </h1>
    </div>

    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_item') }}">
                    {{ 'inventory.show_all_items'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if items|length != 0 %}
    <table class="aui inventory_item">
        <thead>
            <tr>
                <th id="item_table_title" colspan="2">{{ 'inventory.item.title'|trans }}</th>
                <th id="item_table_barcode">{{ 'inventory.item.barcode'|trans }}</th>
                <th id="item_table_vendor">{{ 'inventory.item.vendor'|trans }}</th>
                <th id="item_table_category">{{ 'inventory.item.category'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td class="entity_avatar">
                    {% if item.picture is not null %}
                        <img src="{{ item.picture.getRelativePath|apply_filter('list_avatar') }}" alt="{{ item.title }}" />
                    {% else %}
                        <img src="{{ asset('bundles/oktolabrent/images/item.png') }}" alt="{{ item.title }}" />
                    {% endif %}
                </td>
                <td headers="item_table_title">
                    <a href="{{ path('inventory_item_show', { 'id': item.id }) }}">{{ item.title }}</a>
                    {% if item.set is not null %}<span class="smalltext">({{ item.set.title }})</span>{% endif %}
                    <p>
                        <span>{{ 'inventory.item.serialnumber'|trans }}: {{ item.serialNumber }}</span>
                    </p>
                </td>
                <td headers="item_table_barcode">{{ item.barcode }}</td>
                <td headers="item_table_vendor">{{ item.vendor }}</td>
                <td headers="item_table_category">{% if item.category is not null %}{{ item.category.title }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{{ 'inventory.no_inactive_items'|trans}}</p>
{% endif %}
{% endblock %}
