{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    <img src="static/img/none.png">
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>Inventar Item Liste</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_item_new') }}">Neues Item</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <table class="aui">
                    <thead>
                        <tr>
                            <th id="name">{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Description{% endtrans %}</th>
                            <th>{% trans %}Barcode{% endtrans %}</th>
                            <th>{% trans %}Buydate{% endtrans %}</th>
                            <th>{% trans %}Serialnumber{% endtrans %}</th>
                            <th>{% trans %}Vendor{% endtrans %}</th>
                            <th>{% trans %}Modelnumber{% endtrans %}</th>
                            <th id="action">{% trans %}Actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td headers="name">{{ entity.title }}</td>
                            <td>{{ entity.description }}</td>
                            <td>{{ entity.barcode }}</td>
                            <td>{% if entity.buyDate %}{{ entity.buyDate|date('Y-m-d') }}{% endif %}</td>
                            <td>{{ entity.serialNumber }}</td>
                            <td>{{ entity.vendor }}</td>
                            <td>{{ entity.modelNumber }}</td>
                            <td class="action" headers="action">
                                <ul class="menu">
                                    <li>
                                        <a href="{{ path('inventory_item_show', { 'id': entity.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('inventory_item_edit', { 'id': entity.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
