{% extends '::base.html.twig' %}

{% block body -%}
<section id="content" role="main">
    <header class="aui-page-header">
        <div class="aui-page-header-inner">
                        <div class="aui-page-header-image">
                    <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                        <div class="aui-avatar-inner">
                            <img src="static/img/none.png">
                        </div>
                    </div>
                </div>
            <div class="aui-page-header-main">
                <h1>Inventar Item Liste</h1>
            </div>
            <div class="aui-page-header-actions">
                <div class="aui-buttons">
                    <a href="{{ path('inventory_item_new') }}">
                        <button class="aui-button">Neues Item</button>
                    </a>
                </div>
            </div>
        </div>
    </header>


    <table class="aui">
        <thead>
            <tr>
                <th id="name">Title</th>
                <th>Description</th>
                <th>Barcode</th>
                <th>Buydate</th>
                <th>Serialnumber</th>
                <th>Vendor</th>
                <th>Modelnumber</th>
                <th id="action">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td headers="name">{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.barcode }}</td>
                <td>{% if entity.buyDate %}{{ entity.buyDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.serialNumber }}</td>
                <td>{{ entity.vendor }}</td>
                <td>{{ entity.modelNumber }}</td>
                <td class="action" headers="action">
                <ul class="menu">
                    <li>
                        <a href="{{ path('inventory_item_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('inventory_item_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
    {% endblock %}
