{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{'inventory.item.new' | trans }}</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_item') }}">{{ 'generic.backToList'|trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'aui oktolab-plupload-form' } }) }}
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.set) }}
            {{ form_row(form.description, {'attr': {'placeholder': 'inventory.item.descriptionPlaceholder'} }) }}
            {{ form_row(form.barcode) }}
            {{ form_row(form.buyDate) }}
            {{ form_row(form.serialNumber) }}
            {{ form_row(form.vendor) }}
            {{ form_row(form.modelNumber) }}
            <field class="plupload" data-plupload="multiple"></field>
            <div id="container" class= "field-group">
                <div id="filelist">{{ 'generic.runtimeError' | trans }}</div>
                <br />
                <a id="pickfiles" href="#">[{{'generic.selectFiles' | trans}}]</a>
            </div>
            <div class="buttons-container">
                <button class="aui-button aui-button-primary" id="uploadfiles" type="submit">{{'generic.submit' | trans}}</button>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}