{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image"~>
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if item.picture is defined%}
                        <img src="{{ item.picture.getRelativePath | apply_filter('page_avatar') }}" />
                    {% endif%}

                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>{{item.title}}</h1>
            <h3>Barcode: {{item.barcode}}</h3>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_item_edit', { 'id' : item.id }) }}">Editieren</a>
                    <a class="aui-button" href="{{ path('inventory_item') }}">{% trans %}Back to list{% endtrans %}</a>
                    <button class="aui-button" aria-disabled="true">Ausmustern</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">

                <p>{{ item.set }}<//p>


                <h3>{% trans %}Description{% endtrans %}</h3>
                {% if item.description is defined %}
                <p>{{ item.description }}</p>
                {% else %}
                <p>{% trans%}Not Defined{%endtrans%}</p>
                {% endif %}

                <h3>{% trans %}Buy date{% endtrans %}</h3>
                <p>{{ item.buyDate|date('d.m.Y') }}</p>

                <h3>{% trans %}Serial number{% endtrans %}</h3>
                <p>{{ item.serialNumber }}</p>

                <h3>{% trans %}Vendor{% endtrans %}</h3>
                <p>{{ item.vendor }}</p>

                <h3>{% trans %}Modelnumber{% endtrans %}</h3>
                <p>{{ item.modelNumber }}</p>

                <h3>{% trans %}Attachments{% endtrans%} <a id="replace-text-trigger" data-replace-text="({%trans%}hide{%endtrans%})" class="aui-expander-trigger" aria-controls="expander-with-replace-text-content">({%trans%}show{%endtrans%})</a></h3>
                <div id="expander-with-replace-text-content" class="aui-expander-content">
                    {% for attachment in item.attachments %}
                        <img src="{{ sauce(attachment) }}" />
                    {% endfor %}
                </div>

            </section>
        </div>
    </div>
{% endblock %}
