{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image"~>
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if item.picture is not null %}
                        <img src="{{ item.picture.getRelativePath | apply_filter('page_avatar') }}" />
                    {% endif%}
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>{{item.title}}</h1>
            <h3>{{ 'generic.barcode' | trans }}: {{item.barcode}}</h3>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_item_edit', { 'id' : item.id }) }}">{{ 'generic.edit' | trans }}</a>
                    <a class="aui-button" href="{{ path('inventory_item') }}">{{ 'generic.backToList' | trans }}</a>
                    <button class="aui-button" aria-disabled="true">{{ 'inventory.item.discharge' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form class="aui">
        <fieldset>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.set' | trans }}</label>
                <span class="field-value">{{ item.set }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.description' | trans }}</label>
                <span class="field-value">{{ item.description }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.buydate' | trans }}</label>
                <span class="field-value">{{ item.buyDate|date('d.m.Y') }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.serialnumber' | trans }}</label>
                <span class="field-value">{{ item.serialNumber }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.vendor' | trans }}</label>
                <span class="field-value">{{ item.vendor }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.modelnumber' | trans }}</label>
                <span class="field-value">{{ item.modelNumber }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.place' | trans }}</label>
                <span class="field-value">{{ item.place.title }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{ 'inventory.item.category' | trans }}</label>
                <span class="field-value">{{ item.category.title }}</span>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block sidebar%}
<aside class="aui-page-panel-sidebar">
    <h3>
        {{ 'inventory.item.attachments' | trans}} ({{ item.attachments | length }})
    </h3>
    <div id="expander-with-replace-text-content" class="aui-expander-content">
        {% for attachment in item.attachments %}
            <img src="{{ sauce(attachment) }}" />
        {% endfor %}
    </div>
</aside>
{% endblock%}
