{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image"~>
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if item.picture is not null %}
                        <img src="{{ item.picture.getRelativePath | apply_filter('page_avatar') }}" />
                    {% endif%}
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>{{item.title}}</h1>
            <h3>{{ 'generic.barcode' | trans }}: {{item.barcode}}</h3>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_item_edit', { 'id' : item.id }) }}">{{ 'generic.edit' | trans }}</a>
                    <a class="aui-button" href="{{ path('inventory_item') }}">{{ 'generic.backToList' | trans }}</a>
                    <button class="aui-button" aria-disabled="true">{{ 'inventory.item.discharge' | trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">

                <p>{{ item.set }}</p>

                <h3>{{ 'inventory.item.description' | trans }}</h3>
                <p>{{ item.description }}</p>

                <h3>{{ 'inventory.item.buydate' | trans}}</h3>
                <p>{{ item.buyDate|date('d.m.Y') }}</p>

                <h3>{{ 'inventory.item.serialnumber' | trans}}</h3>
                <p>{{ item.serialNumber }}</p>

                <h3>{{ 'inventory.item.vendor' | trans }}</h3>
                <p>{{ item.vendor }}</p>

                <h3>{{ 'inventory.item.modelnumber' | trans }}</h3>
                <p>{{ item.modelNumber }}</p>

                <h3>
                    {{ 'inventory.item.attachments' | trans}} {{ item.attachments | length }} <a id="replace-text-trigger" data-replace-text="({%trans%}hide{%endtrans%})" class="aui-expander-trigger" aria-controls="expander-with-replace-text-content">({{ 'generic.show' | trans }})</a>
                </h3>
                <div id="expander-with-replace-text-content" class="aui-expander-content">
                    {% for attachment in item.attachments %}
                        <img src="{{ sauce(attachment) }}" />
                    {% endfor %}
                </div>

            </section>
        </div>
    </div>
{% endblock %}
