{% extends 'OktolabRentBundle:Admin:Timeblock\\base.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('admin_timeblock') }}">{{ 'generic.overview' | trans }}</a>
    <a class="aui-button" href="{{ path('admin_timeblock_edit', {'id' : timeblock.id}) }}">{{ 'generic.edit' | trans }}</a>
{%endblock%}
{% block content %}
    {{ parent() }}

<form class="aui">
    <fieldset>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.title' | trans }}</label>
            <span class="field-value">{{ timeblock.title }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.weekdays' | trans }}</label>
            <span class="field-value">{{ timeblock.weekdays|weekdaysToString() }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.intervalBegin' | trans }}</label>
            <span class="field-value">{{ timeblock.intervalBegin|date('d.m.Y') }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.intervalEnd' | trans }}</label>
            <span class="field-value">{{ timeblock.intervalEnd|date('d.m.Y') }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.begin' | trans }}</label>
            <span class="field-value">{{ timeblock.begin|date('H:i') }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.end' | trans }}</label>
            <span class="field-value">{{ timeblock.end|date('H:i') }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'admin.timeblock.eventType' | trans }}</label>
            <span class="field-value">
                {% if timeblock.eventType is not null%}
                    {{ timeblock.eventType.name }}
                {% else %}
                    {{ 'admin.timeblock.noEventType'|trans }}
                {% endif %}
            </span>
        </div>
    </fieldset>
</form>
{% endblock %}
