<div id="rent-inventory-form">
    {{ form_start(form, {'attr': {'class': 'aui rent-form' } }) }}
        <fieldset>
            {{ form_errors(form) }}

            <div class="costunit-contact-search">
                <div class="field-group">
                    {{ form_label(form.costunit) }}
                    <input type="text" class="text orb_event_costunit_typeahead">
                </div>
                {{ form_row(form.contact, {'attr': {'class': 'orb_event_contact'}}) }}
                <div class="hidden">
                    {{ form_row(form.costunit, {'attr': {'class': 'orb_event_costunit'} }) }}
                    {{ form_row(form.type) }}
                </div>
                {{ form_row(form.description) }}
            </div>
        </fieldset>

        <h3>{{ 'event.rentable_objects'|trans }}</h3>
        <fieldset>
            <div class="object-date-search" data-event-id="{{form.vars.value.id}}">
                {{ form_row(form.begin, {'attr': {'class': 'text event-datetime orb_event_form_event_begin'}}) }}
                {{ form_row(form.end, {'attr': {'class': 'text event-datetime orb_event_form_event_end'}}) }}
                <div class="field-group">
                    <label for="inventory-search-field">{{ 'generic.search'|trans }}</label>
                    <input class="text orb_event_form_inventory_search" type="text" id="inventory-search-field" name="inventory-search-field" title="{{ 'Search for Barcodes, Items, Sets, ...'|trans }}" disabled="disabled" />
                    <div class="description">{{'event.invenory.search'|trans}}</div>
                </div>

                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'event.objects'|trans }}</label>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="basic-barcode">{{ 'generic.barcode'|trans }}</th>
                                <th id="basic-name">{{ 'generic.name'|trans }}</th>
                                <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions'|trans }}</span></th>
                            </tr>
                        </thead>
                        <tbody id="inventory-event-objects" class="event-objects" data-index="-1" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event:eventObjectPrototype.html.twig' %}{% endfilter %}">
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>

        {% do form.objects.setRendered %}
        {% do form.update.setRendered %}
    {{ form_end(form) }}
</div>
