<div id="rent-inventory-form">
    {{ form_start(form, {'attr': {'class': 'aui'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            <div class="field-group">
                <label for="costunit-search-field">{{ 'event.costunit'|trans }}</label>
                <input class="text long-field" type="text" id="costunit-search-field" name="costunit-search-field" title="{{ 'event.costunit.search'|trans }}">
            </div>
            <div class="field-group">
                <label for="contact-search-field">{{ 'event.contact'|trans }}</label>
                <input disabled class="text long-field" type="text" id="conact-search-field" name="contact-search-field" title="{{ 'event.contact.search'|trans }}">
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.begin) }}
            {{ form_row(form.end) }}
        </fieldset>

        <h3>{{ 'Rentable Objects' | trans }}</h3>
        <fieldset>
            <div class="field-group">
                <label for="inventory-search-field">Suche</label>
                <input class="text long-field" type="text" id="inventory-search-field" name="inventory-search-field" title="{% trans %}Search for Barcodes, Items, Sets, ...{% endtrans %}">
                <div class="description">{{ 'Search for Barcodes, Items, Sets, ...' | trans }}</div>
            </div>

            <div class="field-group aui-oktolab-form-table">
                <label>{{ 'Objects' | trans }}</label>
                <table class="aui">
                    <thead>
                        <tr>
                            <th id="basic-barcode">{{ 'Barcode' | trans }}</th>
                            <th id="basic-name">{{ 'Name' | trans }}</th>
                            <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions' | trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody id="oktolabrentbundle_event_objects" class="event-objects" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event:eventObjectPrototype.html.twig' %}{% endfilter %}">
                    </tbody>
                </table>
            </div>
        </fieldset>
        {% do form.objects.setRendered %}
        {% do form.contact.setRendered %}
        {% do form.costunit.setRendered %}
    {{ form_end(form) }}
</div>
