<div id="rent-room-form">
    {{ form_start(form, {'attr': {'class': 'aui', 'id': 'room_form'}}) }}
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.begin, {'attr': {'class': 'room-beginDate'}}) }}
            {{ form_row(form.end, {'attr': {'class': 'room-endDate'}}) }}
        </fieldset>

        <h3>{{ 'event.rentable_rooms'|trans}}</h3>
        <fieldset>
            <div class="field-group">
                <label for="d-lname">Suche</label>
                <input class="text" id="room-search-field" type="text" disabled="disabled">
                <div class="description">{{ 'event.searchFor'|trans }} {{'generic.barcodes'|trans}}, {{ 'generic.name'|trans}}</div>
            </div>

            <div class="field-group aui-oktolab-form-table">
                <label>{{ 'inventory.room.rooms'|trans }}</label>
                <table class="aui">
                    <thead>
                        <tr>
                            <th id="basic-fname">{{ 'generic.barcode'|trans }}</th>
                            <th id="basic-lname">{{ 'generic.name'|trans }}</th>
                            <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'generic.actions'|trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody class="event-objects" id="room-event-objects" data-index="-1" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event:eventObjectPrototype.html.twig' %}{% endfilter %}">
                    </tbody>
                </table>
            </div>
        </fieldset>

        {% do form.objects.setRendered %}
    {{ form_end(form) }}
</div>
