{% extends "::base.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('aui-5.1/css/aui-all.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('aui-5.1/js/aui-all.js') }}"></script>
    <script src="{{ asset('bundles/acmedemo/js/jira_bug_tracker.js') }}"></script>
{% endblock %}
    
{% block title 'Demo Bundle' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {# block content_header %}
        <ul id="menu">
            {% block content_header_more %}
                <li><a href="{{ path('_demo') }}">Demo Home</a></li>
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock #}
    
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                  {% block content_header %} {% endblock %}
                </div>
            </div>
        </header>

        <section id="content" role="main">
            <div class="aui-page-panel">
                <div class="aui-page-panel-inner">
                    <section class="aui-page-panel-content">
                        {% block content %}{% endblock %}
                    </section>
                </div>
            </div>
        </section>
      
    {# if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif #}
{% endblock %}
