{% extends 'OktolabRentBundle::layout.html.twig' %}
{% block title 'Log In' %}

{% block page_header %}
<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-primary">
            <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="{{ path('rentbundle_dashboard') }}"><span class="aui-header-logo-device">RENT</span></a></h1>
        </div>
        <div class="aui-header-secondary">
            <ul class="aui-nav">
                <li>
                  <a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7"><span class="aui-icon aui-icon-small aui-iconfont-help">{% trans %}Help{% endtrans %}</span><span class="aui-icon-dropdown"></span></a>
                  <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header7" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                      <div class="aui-dropdown2-section">
                          <ul>
                              <li><a href="{{ rent_documentation_url }}" class="active">{% trans %}Online help{% endtrans %}</a></li>
                              <li><a href="{{ path('rentbundle_about') }}">{% trans %}About{% endtrans %}</a></li>
                          </ul>
                      </div>
                  </div>
                </li>
                <li><a href="{{ path('rentbundle_secure_login') }}" class="aui-nav-imagelink">{% trans %}Log In{% endtrans %}</a></li>
            </ul>
        </div>
    </nav>

    <br class="clear">
</header>
{% endblock page_header %}

{% block page_main %}
<div class="login">
    <div class="aui-page-panel" id="main">
        <div id="login-container">
            <div class="login-section ">
                <form class="aui login-form-container" action="{{ path("rentbundle_secure_check") }}" method="POST" name="login">
                    <h2>{{'generic.loginTitle'|trans}}</h2>
                    <div id="action-messages">
                        {% if error %}
                        <div class="aui-message error closeable">
                            <p class="title">
                                <span class="aui-icon icon-error"></span>
                                <strong>{{'generic.loginError'|trans}}</strong>
                            </p>
                            {{ error.message }}
                        </div>
                        {% endif %}
                    </div>

                    <fieldset class="compact-form-fields">
                        <legend class="assistive"><span>{% trans %}Log in Oktolab RENT{% endtrans %}</span></legend>
                        <div class="field-group">
                            <label for="username" id="os_username-label">{{'generic.username'|trans}}</label>
                            <input type="text" data-focus="0" class="text" id="username" name="_username" value="{{ last_username }}">
                        </div>

                        <div class="field-group">
                            <label for="password" id="os_password-label">{{'generic.password'|trans}}</label>
                            <input type="password" class="password " id="password" name="_password">
                        </div>

                        <div class="field-group form-buttons compact-form-buttons">
                            <input type="submit" value="{{'generic.login'|trans}}" name="login" class="aui-button aui-style aui-button-primary" id="loginButton">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
