<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} - Oktolab RENT</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('aui-5.1/css/aui-all.css') }}" />

        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>

    <body class="aui-layout aui-theme-default">
        <div id="page">

                {% block body %}{% endblock %}


            <footer id="footer">
                <section class="footer-body">
                    <ul>
                        <li>Copyright &copy; 2013 Oktolab</li>
                        <li>Oktolab RENT pre-alpha 3.0</li>
                        <li><a href="#" id="bugtracker">Bug</a></li>
                        <li><a href="http://intern.okto.tv/display/RENT">Dokumentation</a></li>
                    </ul>
                </section>
            </footer>
        </div>

        <script type="text/javascript" src="{{ asset('aui-5.1/js/aui-all.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oktolabrent/js/jira_bug_tracker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/oktolabrent/js/aui-tools.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>