<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="decorator" content="atl.general">
        <title>{% block title %}Welcome!{% endblock %} - Oktolab RENT</title>
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />

        {% stylesheets filter="cssrewrite"
            'aui-5.1/css/aui-all.css'
            '@OktolabRentBundle/Resources/public/css/aui-tools.css'
            'fancybox/jquery.fancybox-1.3.4.css'
            '@OktolabRentBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        {% block head %}{% endblock %}
    </head>

    <body class="aui-layout aui-theme-default">
        <div id="page">
            {% block page_header %}{% endblock %}
            {% block page_main %}{% endblock %}
            {% block page_footer %}{% endblock%}
        </div>

        <script type="text/javascript">
            if (!oktolab) {
                var oktolab = {
                    baseUrl: window.location.protocol + '//' + window.location.host + '{{ app.request.getBaseURL() }}',
                };
            }
        </script>

        <script src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js"></script>

        {% javascripts
            'aui-5.1/js/aui-all.js'
            '@OktolabRentBundle/Resources/public/js/parameters.js'
            '@OktolabRentBundle/Resources/public/js/oktolab-common.js'
            'fancybox/*.js'
            '@OktolabRentBundle/Resources/public/js/vendor/*'
            '@OktolabRentBundle/Resources/public/js/event/*'
            '@OktolabRentBundle/Resources/public/js/inventory/*'
            '@OktolabRentBundle/Resources/public/js/plupload/plupload.full.js'
            '@OktolabRentBundle/Resources/public/js/plupload/customPlupload.js'
            '@OktolabRentBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}

        {% if app.environment in ['dev', 'test'] %}
            {% javascripts
                '@OktolabRentBundle/Resources/public/js/test/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endif %}
    </body>
</html>
