<header id="header" role="banner">
  <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
      <div class="aui-header-primary">
          <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="{{ path('rentbundle_dashboard') }}"><span class="aui-header-logo-device">RENT</span></a></h1>
          <ul class="aui-nav">
              <li><a href="{{ path('rentbundle_dashboard') }}" class="aui-nav-imagelink">{% trans %}Calendar{% endtrans %}</a></li>
              <li><a href="{{ path('inventory_item') }}" class="aui-nav-imagelink">{% trans %}Inventory{% endtrans %}</a></li>
              <li><a href="{{ path('inventory_set') }}" class="aui-nav-imagelink">{% trans %}Set{% endtrans %}</a></li>
              <li><button id="create-button" class="aui-button aui-button-primary aui-style">{% trans %}Book{% endtrans %}</button></li>
          </ul>
      </div>
      <div class="aui-header-secondary">
          <ul class="aui-nav">
              <li>
                  <form action="/foo" method="post" class="aui-quicksearch">
                      <label for="quicksearch" class="assistive">Suchen</label>
                      <input id="quicksearch" class="search" type="text" placeholder="Suchen" name="quicksearchname">
                  </form>
              </li>
              <li><a href="#dropdown2-header7" aria-owns="dropdown2-header7" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header7"><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span><span class="aui-icon-dropdown"></span></a>
                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header7" style="display: none; top: 40px; min-width: 160px; left: 1213px; " aria-hidden="true">
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="{{ rent_documentation_url }}" class="active">{% trans %}Online help{% endtrans %}</a></li>
                            {# <li><a href="http://example.com/">Keyboard shortcuts</a></li> #}
                            <li><a href="{{ path('rentbundle_about') }}">{% trans %}About{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
              </li>
              <li><a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header9">
                      <div class="aui-avatar aui-avatar-small">
                          <div class="aui-avatar-inner">
                              <img src="{{ asset('aui-5.1/images/user-avatar-blue-16@2x.png') }}" alt="user"></img>
                          </div>
                      </div>
                  </a>
                <div class="aui-dropdown2 aui-style-default aui-dropdown2-in-header" id="dropdown2-header9" style="display: none; top: 40px; min-width: 160px; left: 1213px;" aria-hidden="true">
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="#">Admin</a></li>
                        </ul>
                    </div>
                    <div class="aui-dropdown2-section">
                        <ul>
                            <li><a href="{{ path('rentbundle_secure_logout') }}" id="logout">{% trans %}Log out{% endtrans %}</a></li>
                        </ul>
                    </div>
                </div>
              </li>
          </ul>
      </div>
  </nav>

<!-- App Header goes inside #header -->
</header>


{# include('AcmeDemoBundle:Demo:create/contact.html.twig') #}
{# include('AcmeDemoBundle:Demo:create/user.html.twig') #}
{# include('AcmeDemoBundle:Demo:create/list.html.twig') #}
{# include('AcmeDemoBundle:Demo:create/mailinglist.html.twig') #}