{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content %}

    <div class="aui-group">
        <div class="aui-item">
            <h3>{{'event.activeInventoryEvents'|trans}}</h3>
            {% if inventoryEvents is not empty %}
            <table class="aui">
                <thead>
                    <tr>
                        <th id="state">{{ 'event.state'|trans }}</th>
                        <th id="costunit">{{'event.costunit'|trans}}</th>
                        <th id="contact">{{ 'event.contact'|trans }}</th>
                        <th id="begin">{{'event.begin'|trans}}</th>
                        <th id="end">{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventoryEvent in inventoryEvents %}
                    <tr>
                        <td headers="state"><span class="aui-lozenge">{{ inventoryEvent.state(true) }}</span></td>
                        <td headers="costunit"><a href="{{ path('OktolabRentBundle_Event_Edit', { 'id': inventoryEvent.id }) }}">{{inventoryEvent.name }}</a></td>
                        <td headers="contact">{{ inventoryEvent.contact.name}}</td>
                        <td headers="begin">{{ inventoryEvent.begin|date('d.m.Y H:i') }}</td>
                        <td headers="end">{{ inventoryEvent.end|date('d.m.Y H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'events.noActiveEvents'|trans}}
            {% endif %}
        </div>
        <div class="aui-item">
            <h3>{{'event.activeRoomEvents'|trans}}</h3>
            {% if roomEvents is not empty %}
            <table class="aui">
                <thead>
                    <tr>
                        <th id="state">{{ 'event.state'|trans }}</th>
                        <th id="costunit">{{'event.costunit'|trans}}</th>
                        <th id="contact">{{ 'event.contact'|trans }}</th>
                        <th id="begin">{{'event.begin'|trans}}</th>
                        <th id="end">{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for roomEvent in roomEvents %}
                    <tr>
                        <td headers="state"><span class="aui-lozenge">{{ roomEvent.state(true) }}</span></td>
                        <td headers="costunit"><a href="{{ path('OktolabRentBundle_Event_Edit', { 'id': roomEvent.id }) }}">{{roomEvent.name }}</a></td>
                        <td headers="contact">{{ roomEvent.contact.name}}</td>
                        <td headers="begin">{{ roomEvent.begin|date('d.m.Y H:i') }}</td>
                        <td headers="end">{{ roomEvent.end|date('d.m.Y H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'event.noActiveEvents'|trans}}
            {% endif %}
        </div>
    </div>

{% endblock %}