{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-main">
            <h1>{{'generic.dashboard'|trans}}</h1>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="aui-group">
        <div class="aui-item">
            <h3>{{'event.activeInventoryEvents'|trans}}</h3>
            {% if inventoryEvents is not empty %}
            <table class="aui aui-table-sortable">
                <thead>
                    <tr>
                        <th>{{ 'event.state'|trans }}</th>
                        <th id="costunit">{{'event.costunit'|trans}}</th>
                        <th id="contact">{{ 'event.contact'|trans }}</th>
                        <th id="begin">{{'event.begin'|trans}}</th>
                        <th id="end">{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventoryEvent in inventoryEvents %}
                    <tr>
                        <td>
                            <span style="display:none">{{ inventoryEvent.state(false) }}</span>
                            {% set vars = {'event': inventoryEvent }%}
                            {% include 'OktolabRentBundle:Event/Event:_event_status_lozenge.html.twig' with vars%}
                        </td>
                        <td headers="costunit">{{inventoryEvent.costunit.name }}</td>
                        <td headers="contact">{{ inventoryEvent.contact.name}}</td>
                        <td headers="begin">
                            <span style="display:none">{{inventoryEvent.begin|date('U')}}</span>
                            {{ inventoryEvent.begin|date('d.m.Y H:i') }}
                        </td>
                        <td headers="end">
                            <span style="display:none">{{inventoryEvent.end|date('U')}}</span>
                            {{ inventoryEvent.end|date('d.m.Y H:i') }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'event.noActiveEvents'|trans}}
            {% endif %}
        </div>

        <div class="aui-item">
            <h3>{{'event.activeRoomEvents'|trans}}</h3>
            {% if roomEvents is not empty %}
            <table class="aui aui-table-sortable">
                <thead>
                    <tr>
                        <th>{{ 'event.state'|trans }}</th>
                        <th>{{'event.costunit'|trans}}</th>
                        <th>{{ 'event.contact'|trans }}</th>
                        <th>{{'event.begin'|trans}}</th>
                        <th>{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for roomEvent in roomEvents %}
                    <tr>
                        <td>
                            <span style="display:none">{{ inventoryEvent.state(false) }}</span>
                            {% set vars = {'event': roomEvent }%}
                            {% include 'OktolabRentBundle:Event/Event:_event_status_lozenge.html.twig' with vars%}
                        </td>
                        <td>{{ roomEvent.costunit.name }}</td>
                        <td>{{ roomEvent.contact.name}}</td>
                        <td><span style="display:none">{{roomEvent.begin|date('U')}}</span>{{ roomEvent.begin|date('d.m.Y H:i') }}</td>
                        <td><span style="display:none">{{roomEvent.end|date('U')}}</span>{{ roomEvent.end|date('d.m.Y H:i') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'event.noActiveEvents'|trans}}
            {% endif %}
        </div>
    </div>

{% endblock %}