{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Dashboard' %}
{% block content %}

    <div class="aui-group">
        <div class="aui-item">
            <h3>{{'event.activeInventoryEvents'|trans}}</h3>
            {% if inventoryEvents is not empty %}
            <table class="aui">
                <thead>
                    <tr>
                        <th id="costunit">{{'event.costunit'|trans}}</th>
                        <th id="begin">{{'event.begin'|trans}}</th>
                        <th id="end">{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventoryEvent in inventoryEvents %}
                    <tr>
                        <td headers="costunit">{{inventoryEvent.name }}</td>
                        <td headers="begin">{{ inventoryEvent.begin|date('d.m.Y') }}</td>
                        <td headers="end">{{ inventoryEvent.end|date('d.m.Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'events.noActiveEvents'|trans}}
            {% endif %}
        </div>
        <div class="aui-item">
            <h3>{{'event.activeRoomEvents'|trans}}</h3>
            {% if roomEvents is not empty %}
            <table class="aui">
                <thead>
                    <tr>
                        <th id="costunit">{{'event.costunit'|trans}}</th>
                        <th id="begin">{{'event.begin'|trans}}</th>
                        <th id="end">{{'event.end'|trans}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for roomEvent in roomEvents %}
                    <tr>
                        <td headers="costunit">{{roomEvent.name }}</td>
                        <td headers="begin">{{ roomEvent.begin|date('d.m.Y') }}</td>
                        <td headers="end">{{ roomEvent.end|date('d.m.Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                {{'event.noActiveEvents'|trans}}
            {% endif %}
        </div>
    </div>

{% endblock %}