{% spaceless %}
<tr>
    <td>{{ '{{index}}' }}</td>
    <td>{{ '{{name}}' }}</td>
    <td>{{ '{{barcode}}' }}</td>
    <td>{{ '{{description}}' }}</td>
    <td><span class="aui-icon aui-icon-small aui-iconfont-remove">{{ 'Remove'|trans }}</span></td>
</tr>
{% endspaceless %}