{% extends 'OktolabRentBundle:Admin\\CalendarSorting:base.html.twig' %}

{% block content %}
    {{ parent() }}

    {% if categories|length == 0 %}
        <br />
        {{ 'inventory.category.noneFound' | trans }}
    {% else %}
        <div class="category_sortable">
            {% for category in categories %}
            <div data-value="{{ category.id }}">
                <h3 class="category-header">{{ category.title }}</h3>
                <ul class="item_sortable">
                    {% for item in category.items %}
                    <li data-value="{{ item.id }}">
                        {{ item.title }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}