<!DOCTYPE html>
<html>
    <head>
        {% stylesheets filter="cssrewrite"
            '@OktolabRentBundle/Resources/public/css/pdf/rentsheet.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    </head>
    <body>
        <p class="rightTop">
            {{ event.barcode|upper }}<barcode code="{{ event.barcode}}" type="C39" size="0.5" height="1.0" /><br />
            {{ 'event.pdf.costunit'|trans({ '%costunit%': event.costunit.name }) }}<br />
            {{ 'event.pdf.contact'|trans({ '%contact%': event.contact.name }) }}<br />
            {{ 'event.pdf.begin'|trans({ '%begin%': event.begin|date('H:i d.m.Y') }) }}<br />
            {{ 'event.pdf.end'|trans({ '%end%': event.end|date('H:i d.m.Y') }) }}
        </p>
        <h1>{{ 'event.pdf.rentsheet'|trans }}</h1>

        <adress>
            {{ setting.name}}<br />
            {{ setting.address }}<br />
            {{ setting.postal_code }} {{ setting.city }}
            <p class=adress>
                {{ setting.email }}<br />
                {{ setting.telnumber }}
            </p>
        </adress>
        <div class="signatureStrip">
            <div class="textStripe">
                <div class="lentText">
                    <p class="partTitle">
                        {{ 'event.pdf.rent'|trans }}
                    </p>
                    <p>
                        {{ 'event.pdf.lentgivenBy'|trans({ '%CompanyName%': setting.name, '%coworkerName%': app.user.displayName|default(app.user.username)}) }}
                    </p>
                    <p>
                        {{ setting.additional_text }}
                    </p>
                    <p>
                        {{ 'event.pdf.signatureRenter'|trans}}
                    </p>
                </div>
                
                <div class="returnText">
                    <p class="partTitle">
                        {{ 'event.pdf.deliver'|trans }}
                    </p>
                    <p>
                        {{ 'event.pdf.reallyReturnedAt'|trans }}
                    </p>
                    <p>
                        {{ 'event.pdf.takenBackBy'|trans }}
                    </p>
                </div>
            </div>
        </div>

        {% if event.description %}
            <p>
                {{ event.description }}
            </p>
        {% endif %}

        {% set headerWritten = false %}
        {% for object in objects if objects %}
            {% if object.type == "set" %}
                {% if headerWritten == false %}
                    <table>
                        <thead>
                            <tr>
                                <th class="barcode">{{ "inventory.set.barcode"|trans }}</th>
                                <th class="set">{{ "inventory.set.sets"|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                <tr>
                    <td class="barcode">{{ object.barcode }}</td>
                    <td class="set">{{ object.title }}</td>
                </tr>
                {% if headerWritten == false %}
                    </tbody>
                </table>
                {% set headerWritten = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <p></p>
        <table>
            <thead>
                <tr>
                    <th class="barcode">{{ "inventory.item.barcode"|trans}}</th>
                    <th class="item">{{ "inventory.item.item"|trans}}</th>
                    <th class="notice">{{ 'inventory.item.notice'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for object in objects if objects %}
                    {% if object.type == "item" %}
                        <tr>
                            <td class="barcode">{{ object.barcode|upper }}</td>
                            <td class="item">
                                {{ object.vendor }} {{ object.modelnumber }} {{ object.title}} {% if object.serialnumber %}- {{ object.serialnumber }}{% endif %}<br />
                                {% if object.description or object.set %}
                                    <p class="description">{{ object.set.title|default()|upper }} {{ object.description }}</p>
                                {% endif %}
                            </td>
                            <td class="notice">{{ object.notice }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <htmlpagefooter name="myFooter">
            <div class="footer-right">
                {{'{DATE j.m.Y}'|raw}} 
                {{ 'event.pdf.Page'|trans}} 
                {{'{PAGENO}'|raw}} 
                / 
                {{'{nbpg}'|raw}}
            </div>
        </htmlpagefooter>
    </body>
</html>