{% block script%}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
{% endblock%}
{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{"New Category" | trans }}</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_category') }}">{% trans %}Back to list{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="aui-page-panel">
    <div class="aui-page-panel-inner">
        <section class="aui-page-panel-content">
                {{ form_start(form, {'attr': {'class': 'aui'}}) }}
                    <fieldset>
                        {{ form_errors(form) }}

                        {{ form_row(form.title) }}

                        <div class="buttons-container">
                            <button class="aui-button aui-button-primary" type="submit">{% trans %}Submit{% endtrans %}</button>
                        </div>
                    </fieldset>
                {{ form_end(form) }}
                </section>
            </div>
        </div>
{% endblock %}