{% extends 'OktolabRentBundle:Admin:User\\base.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('security_user') }}">{{'generic.overview'|trans}}</a>
    <a class="aui-button" href="{{ path('security_user_show', { 'id': user.id }) }}">{{ 'generic.back' | trans }}</a>
{%endblock%}
{% block content %}
    {{ parent() }}

    {{ form_start(edit_form, {'attr': {'class': 'aui'} }) }}
    <h3>{{ 'admin.user.edit' | trans({'%username%': user.displayname}) }}</h3>
        <fieldset>
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.role) }}
            {{ form_row(edit_form.displayname) }}
            {{ form_row(edit_form.username) }}
            <div class="buttons-container">
                <button class="aui-button aui-button-primary" type="submit">{{'generic.submit'|trans}}</button>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}