{% extends 'OktolabRentBundle:Admin\\User:base.html.twig' %}

{% block content %}
    {{ parent() }}
        <table class="aui">
            <thead>
                <tr>
                    <th id="title">{{ 'admin.user.name' | trans }}</th>
                    <th id="roles">{{ 'admin.user.role' | trans}}</th>
                    <th id="action">{{ 'generic.actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td headers="title">{{ entity.displayname }}</td>
                    <td headers="roles">{{ entity.roles|trans }}</td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li><a href="{{ path('security_user_show', { 'id': entity.id }) }}">{{ 'generic.show' | trans }}</a></li>
                            <li><a href="{{ path('security_user_edit', { 'id': entity.id }) }}">{{ 'generic.edit' | trans }}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}