{% extends 'OktolabRentBundle:Admin\\User:base.html.twig' %}

{% block content %}
    {{ parent() }}
        <table class="aui">
            <thead>
                <tr>
                    <th id="title">{{ 'Name' | trans }}</th>
                    <th id="items">{{ 'Role' | trans}}</th>
                    <th id="action">{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td headers="title">{{ entity.displayname }}</td>
                    <td headers="items">{{ entity.roles }}</td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li><a href="{{ path('security_user_show', { 'id': entity.id }) }}">{{ 'show' | trans }}</a></li>
                            <li><a href="{{ path('security_user_edit', { 'id': entity.id }) }}">{{ 'edit' | trans }}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}