{% extends 'OktolabRentBundle:Admin:User\\base.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('security_user') }}">{{'generic.overview'|trans}}</a>
    <a class="aui-button" href="{{ path('security_user_edit', { 'id': user.id }) }}">{{ 'generic.edit' | trans }}</a>
{%endblock%}
{% block content %}
    {{ parent() }}
<form class="aui">
    <fieldset>
        <div class="field-group viewMode">
            <label>{{'admin.user'|trans}}</label>
            <span class="field-value">{{ user.displayname }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{"admin.user.role" | trans }}</label>
            <span class="field-value">{{ user.roles|trans }}</span>
        </div>
        <div class="field-group viewMode aui-oktolab-form-table">
            <label>{{"event.bookings" | trans}}</label>
            <span class="field-value">Derzeit nicht verfügbar</span>
        </div>
    </fieldset>
</form>
{% endblock %}
