{% extends 'OktolabRentBundle:Admin:Place\\base.html.twig' %}

{% block content %}
    {{ parent() }}

    {{ form_start(edit_form, {'attr': {'class': 'aui'} }) }}
        <h3>{{ 'Edit Place' | trans }}</h3>
        <fieldset>
            {{ form_errors(edit_form) }}
            {{ form_row(edit_form.title) }}

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" type="submit">{% trans %}Submit{% endtrans %}</button>
            </div>
        </fieldset>
    {{ form_end(edit_form) }}
{% endblock %}