{% extends 'OktolabRentBundle:Admin:Contact\\base.html.twig' %}

{% block buttons %}
{% endblock %}
{% block content %}
    {{ parent() }}

    {% if contacts|length == 0 %}
        <br />
        {{ 'admin.contact.zeroContacts' | trans }}
    {% else %}
        <table class="aui">
            <thead>
                <tr>
                    <th id="title">{{ 'admin.contact.name'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td headers="title"><a href="{{ path('admin_contact_show', { 'id': contact.id }) }}">{{ contact.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}