{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                {% if entity.picture is not null %}
                    <img src="{{ entity.picture.getRelativePath | apply_filter('page_avatar') }}" />
                {% endif%}
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <ol class="aui-nav aui-nav-breadcrumbs">
            <li>{{ 'generic.inventory'|trans}}</li>
            <li class="aui-nav-selected"><a href="{{ path('inventory_room') }}">{{ 'inventory.room.rooms'|trans }}</a></li>
            <li><a href="{{ path('inventory_room_show', { 'id': entity.id }) }}">{{ entity.title }}</a></li>
        </ol>
        <h1>{{'inventory.room.uploadPicture'|trans}}</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_room_edit', { 'id': entity.id }) }}">{{ 'generic.back'|trans }}</a>
                <a class="aui-button" href="{{ path('inventory_room') }}">{{ 'generic.backToList'|trans }}</a>
                {% if entity.picture is not null %}
                    <a class="aui-button" href="{{ path('inventory_room_attachment_delete', { 'entity_id': entity.id, 'attachment_id': entity.picture.getId }) }}">{{"inventory.room.deletePicture" | trans }}</a>
                {% endif %}
                <a class="aui-button" href="{{ path('inventory_room_delete', { 'id': entity.id }) }}">{% trans %}Löschen{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content%}
    <p>{{ 'generic.pictureReplaceWarning'|trans }}</p>
    {{ form_start(edit_form, {'attr': {'class': 'aui oktolab-plupload-form'}}) }}
        <div class="field-group viewMode">
            <label>{{ 'generic.picture'|trans }}</label>
            <span class="field-value">
                <field class="plupload" data-plupload="single"></field>
                <div id="containerfile">
                    <div id="file">{{ 'generic.runtimeError'|trans }}</div>
                    <br />
                    <a id="pickfile" href="#">[{{ 'generic.selectFile'|trans }}]</a>
                </div>
            </span>
        </div>
        <div class="buttons-container">
            <button class="aui-button aui-button-primary" id="uploadfile" type="submit">{{ 'generic.upload'|trans }}</button>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}