{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                {% if entity.picture is not null %}
                    <img src="{{ entity.picture.getRelativePath | apply_filter('page_avatar') }}" />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <ol class="aui-nav aui-nav-breadcrumbs">
            <li>{{ 'generic.inventory'|trans}}</li>
            <li class="aui-nav-selected"><a href="{{ path('inventory_room') }}">{{ 'inventory.room.rooms'|trans }}</a></li>
            <li><a href="{{ path('inventory_room_show', { 'id': entity.id }) }}">{{ entity.title }}</a></li>
        </ol>
        <h1>{{'generic.edit'|trans}}</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_room_show', { 'id': entity.id }) }}">{{'generic.back'|trans}}</a>
                <a class="aui-button" href="{{ path('inventory_room') }}">{{'generic.backToList'|trans}}</a>
                <a class="aui-button" href="{{ path('inventory_room_picture_upload', { 'id': entity.id}) }}">{{ "inventory.room.uploadPicture" | trans }}</a>
                <a class="aui-button" href="{{ path('inventory_room_delete', { 'id': entity.id }) }}">{{'generic.delete'|trans}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content%}
    {{ form_start(edit_form, {'attr': {'class': 'aui oktolab-plupload-form'}}) }}
        {{ form_errors(edit_form) }}

        {{ form_row(edit_form.title) }}
        {{ form_row(edit_form.description, {'attr': {'placeholder': 'Description of the room'} }) }}
        {{ form_row(edit_form.barcode) }}
        <div class="field-group viewMode">
            <label>{{ 'inventory.room.attachments'|trans }}</label>
            <span class="field-value">
                <field class="plupload" data-plupload="multiple"></field>
                <div id="container">
                    <div id="filelist">{{'generic.runtimeError'|trans}}</div>
                    <br />
                    <a id="pickfiles" href="#">[{{'generic.selectFiles'|trans}}]</a>
                </div>
            </span>
        </div>
        <div class="buttons-container">
            <button class="aui-button aui-button-primary" id="uploadfiles" type="submit">{{'generic.submit'|trans}}</button>
        </div>
    {{ form_end(edit_form) }}
{% endblock %}
{% block sidebar %}
    <aside class="aui-page-panel-sidebar">
        <h3>
            {{ 'inventory.room.attachments' | trans}} {{ entity.attachments | length }}
        </h3>
        {% for attachment in entity.attachments %}
            <img src="{{ sauce(attachment) }}" />
            <a href="{{ path('inventory_room_attachment_delete', {'entity_id' : entity.id, 'attachment_id' : attachment.id }) }}">{{"generic.deleteAttachment" | trans }}</a>
        {% endfor %}
    </aside>
{% endblock %}
