{% extends 'OktolabRentBundle::layout.html.twig' %}
{% block title 'inventory.room.rooms'|trans %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    <img src="{{ asset('bundles/oktolabrent/images/room.png') }}" />
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>{{ 'generic.inventory'|trans}}</li>
            </ol>
            <h1>{{'inventory.room.rooms'|trans}}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_room_new') }}">
                        <span class="aui-icon aui-icon-small aui-iconfont-add">Add</span>
                        {{'inventory.room.new'|trans}}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="aui inventory_item">
        <thead>
            <tr>
                <th id="item_table_title" colspan="2">{{'inventory.room.title'|trans}}</th>
                <th id="item_table_barcode">{{'inventory.room.barcode'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="entity_avatar">
                    {% if entity.picture is not null %}
                        <img src="{{ entity.picture.getRelativePath|apply_filter('list_avatar') }}" alt="{{ entity.title }}" />
                    {% else %}
                        <img src="{{ asset('bundles/oktolabrent/images/room.png') }}" alt="{{ entity.title }}" />
                    {% endif %}
                </td>
                <td headers="item_table_title">
                    <a href="{{ path('inventory_room_show', { 'id': entity.id }) }}">
                        {{ entity.title }}
                    </a>
                    <p>{{ entity.description|default('')}}</p>
                </td>
                <td headers="item_table_barcode">{{ entity.barcode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}