{% extends 'OktolabRentBundle::layout.html.twig' %}
{% block title 'inventory.room.tabtitle'|trans({'%title%': room.title}) %}
{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if room.picture is not null %}
                    <img src="{{ room.picture.getRelativePath|apply_filter('page_avatar') }}" alt="{{ room.title }}" />
                {% else %}
                    <img src="{{ asset('bundles/oktolabrent/images/room.png') }}" alt="{{ room.title }}" />
                {% endif %}
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                    <li>{{ 'generic.inventory'|trans}}</li>
                    <li class="aui-nav-selected"><a href="{{ path('inventory_room') }}">{{ 'inventory.room.rooms'|trans }}</a></li>
            </ol>
            <h1>{{room.title}} - {{room.barcode}}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_room_edit', { 'id' : room.id }) }}">{{'generic.edit'|trans}}</a>
                    <a class="aui-button" href="{{ path('inventory_room') }}">{{'generic.backToList'|trans}}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form class="aui">
        <fieldset>
            <div class="field-group viewMode">
                <label>{{'inventory.room.title'|trans}}</label>
                <span class="field-value">{{ room.title }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{'inventory.room.description'|trans}}</label>
                <span class="field-value">{{ room.description }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{'inventory.room.barcode'|trans}}</label>
                <span class="field-value">{{ room.barcode }}</span>
            </div>
        </fieldset>
    </form>

    <h3>{{ 'event.bookings'|trans }}</h3>
            {% if events|length == 0 %}
                <span class="field-value">{{ 'inventory.item.zeroBookings'|trans }}</span>
            {% else %}
                <table class="aui aui-table-sortable">
                    <thead>
                        <tr>
                            <th>{{'event.state'| trans }}</th>
                            <th id="event_costunit">{{ 'event.costunit'|trans }}</th>
                            <th id="event_begin">{{ 'event.begin'|trans }}</th>
                            <th id="event_end">{{ 'event.end'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{% include 'OktolabRentBundle:Event/Event:_event_status_lozenge.html.twig'%}</td>
                                <td headers="event_costunit">{{ event.costunit.name }}</td>
                                <td headers="event_begin">{{ event.begin|date('Y.m.d H:i') }}</td>
                                <td headers="event_end">{{ event.end|date('Y.m.d H:i') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
{% endblock %}

{% block sidebar%}
<aside class="aui-page-panel-sidebar">
    <h3>
        {{ 'inventory.room.attachments' | trans}} ({{ room.attachments | length }})
    </h3>
    <div id="expander-with-replace-text-content" class="aui-expander-content">
        {% for attachment in room.attachments %}
            <img src="{{ sauce(attachment) }}" />
        {% endfor %}
    </div>
</aside>
{% endblock%}