{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    {% if room.picture is not null %}
                        <img src="{{ room.picture.getRelativePath | apply_filter('page_avatar') }}" />
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>{{room.title}}</h1>
            <h3>Barcode: {{room.barcode}}</h3>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_room_edit', { 'id' : room.id }) }}">Editieren</a>
                    <a class="aui-button" href="{{ path('inventory_room') }}">{% trans %}Back to list{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
               <h3>
                    {% trans %}Attachments{% endtrans%} {{ room.attachments | length }} <a id="replace-text-trigger" data-replace-text="({%trans%}hide{%endtrans%})" class="aui-expander-trigger" aria-controls="expander-with-replace-text-content">({%trans%}show{%endtrans%})</a>
                </h3>
                <div id="expander-with-replace-text-content" class="aui-expander-content">
                    {% for attachment in room.attachments %}
                        <img src="{{ sauce(attachment) }}" />
                    {% endfor %}
                </div>
                <h3>{% trans %}Description{% endtrans %}</h3>
                <p>{{ room.description }}</p>

            </section>
        </div>
    </div>
{% endblock %}
