{% extends 'OktolabRentBundle:Inventory\\Set:new.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{ entity.title }} bearbeiten</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_set') }}">{{ 'Back to list' | trans }}</a>
                <a class="aui-button" href="{{ path('inventory_set_delete', { 'id': entity.id }) }}">{{ 'Delete' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}