{% extends 'OktolabRentBundle:Inventory\\Set:new.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                {% if set.picture is not null %}
                    <img src="{{ set.picture.getRelativePath | apply_filter('page_avatar') }}" />
                {% endif %}
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{'inventory.set.edit'|trans({'%setTitle%': set.title})}}</h1>
        <a href="{{ path('inventory_set_picture_upload', { 'id': set.id }) }}">{{ "inventory.set.uploadPicture" | trans }}</a>
        {% if set.picture is not null %}
            <a href="{{ path('inventory_set_attachment_delete', { 'entity_id': set.id, 'attachment_id': set.picture.getId }) }}">{{"inventory.set.deletePicture" | trans }}</a>
        {% endif %}
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_set_show', { 'id': set.id }) }}">{{ 'generic.back' | trans }}</a>
                <a class="aui-button" href="{{ path('inventory_set') }}">{{ 'generic.backToList' | trans }}</a>
                <a class="aui-button" href="{{ path('inventory_set_delete', { 'id': set.id }) }}">{{ 'generic.delete' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
