{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                <div class="aui-avatar-inner">
                    <img src="static/img/none.png">
                </div>
            </div>
        </div>
        <div class="aui-page-header-main">
            <h1>Inventar Set Liste</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_set_new') }}">Neues Set</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <table class="aui">
        <thead>
            <tr>
                <th id="name">{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Items{% endtrans %}</th>
                <th id="action">{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td headers="name">{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.items | length }}<td>
                <td class="action" headers="action">
                    <ul class="menu">
                        <li>
                            <a href="{{ path('inventory_set_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inventory_set_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
