{% spaceless %}
<tr>
    <td>{{ '{{barcode}}' }}</td>
    <td>{{ '{{name}}' }}</td>
    <td><a href="#"><span class="aui-icon aui-icon-small aui-iconfont-remove remove-object" data-value="{{ '{{value}}' }}">{{ 'Remove'|trans }}</span></a></td>
    {#<td>

        <ul class="menu">
            <li>
                <a class="inventory_set_remove_item" id="{{ entity.id }}">{% trans %}remove from set{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('inventory_item_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
            </li>
            <li>
                <a href="{{ path('inventory_item_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
            </li>
        </ul>
    </td>#}
</tr>
{% endspaceless %}