{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>Inventory Set neu</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_set') }}">{% trans %}Back to list{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'aui'}}) }}
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.searchItems) }}

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" type="submit">{% trans %}Submit{% endtrans %}</button>
            </div>

            <h3>{% trans %}Items{% endtrans %}</h3>
                <table class="aui">
                    <thead>
                        <tr>
                            <th id="name">{% trans %}Title{% endtrans %}</th>
                            <th>{% trans %}Description{% endtrans %}</th>
                            <th>{% trans %}Barcode{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody class="appendable">
                        {% for item in items %}
                            <tr>
                                {{ form_row(item) }}
                                <td headers="name">{{ item.title }}</td>
                                <td>{{ item.description }}</td>
                                <td>{{ item.barcode }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
    {{ form_end(form) }}
{% endblock %}
