{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                <img src="static/img/none.png">
            </div>
        </div>
    </div>
    <div class="aui-page-header-main">
        <h1>{{ 'Add a new set' | trans }}</h1>
    </div>
    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_set') }}">{{ 'Back to list' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    {{ form_start(form, {'attr': { 'class': 'aui' } }) }}
        <fieldset>
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.barcode) }}

            <div class="field-group">
                <label for="oktolab_rentbundle_inventory_set_searchItems">{{ 'Search' | trans }}</label>
                <input class="text long-field" type="text" id="oktolab_rentbundle_inventory_set_searchItems" name="oktolab_rentbundle_inventory_set_searchItems" title="{{ 'Search for Items' | trans }}">
                <div class="description">{{ 'Search for Items: Name, Description, Barcode' | trans }}</div>
            </div>

        </fieldset>

        <h3>{{ 'Items' | trans }}</h3>
            <fieldset>
                <table class="aui">
                    <thead>
                        <tr>
                            <th id="name">{{ 'Barcode' | trans }}</th>
                            <th>{{ 'Name' | trans }}</th>
                            <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions' | trans }}</span></th>
                        </tr>
                    </thead>
                    <tbody class="set-items" data-index="0" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Inventory/Set:itemRowPrototype.html.twig' %}{% endfilter %}">
                        {% if items is defined %}
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.barcode }}</td>
                                    <td>{{ item.title }}</td>
                                    <td><a href="#"><span class="aui-icon aui-icon-small aui-iconfont-remove remove-object" data-value="item:{{ item.id }}' }}">{{ 'Remove'|trans }}</span></a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>

                <div class="buttons-container">
                    <button class="aui-button aui-button-primary" type="submit">{{ 'Submit' | trans }}</button>
                </div>
            </fieldset>

            <fieldset class="hidden-items" style="display:none" data-index="{{ form.items | length }}" data-prototype="{{ '<input type="hidden" id="oktolab_rentbundle_inventory_set_items_{{index}}" name="oktolab_rentbundle_inventory_set[items][{{index}}]" value="{{id}}" />'|e }}">
                {% for item in form.items %}
                    {{ form_row(item) }}
                {% endfor %}
            </fieldset>
    {{ form_end(form) }}
{% endblock %}
