{% extends 'OktolabRentBundle::layout.html.twig' %}

{% block content_header %}
    <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
            {% if set.picture is not null %}
                <a href="{{ set.picture.getRelativePath | apply_filter('page_avatar_full') }}" class="fancybox" title="{{ set.picture.title }}">
                    <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
                        <div class="aui-avatar-inner">
                            <img src="{{ set.picture.getRelativePath | apply_filter('page_avatar') }}" />
                        </div>
                    </div>
                </a>
            {% endif %}
        </div>
        <div class="aui-page-header-main">
            <ol class="aui-nav aui-nav-breadcrumbs">
                <li>{{ 'generic.inventory'|trans}}</li>
                <li class="aui-nav-selected"><a href="{{ path('inventory_set') }}">{{ 'inventory.set.sets'|trans }}</a></li>
            </ol>
            <h1>{{set.title}} - {{set.barcode}}</h1>
        </div>
        <div class="aui-page-header-actions">
            <div class="aui-buttons">
                <div class="aui-buttons">
                    <a class="aui-button" href="{{ path('inventory_set_edit', { 'id' : set.id }) }}">{{ 'generic.edit' | trans }}</a>
                    <a class="aui-button" href="{{ path('inventory_set') }}">{{'generic.backToList' | trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form class="aui">
        <fieldset>
            <div class="field-group viewMode">
                <label>{{'inventory.set.place' | trans}}</label>
                <span class="field-value">{{ set.place.title }}</span>
            </div>
            <div class="field-group viewMode">
                <label>{{'inventory.set.description' | trans}}</label>
                <span class="field-value">{{ set.description }}</span>
            </div>
            <div class="field-group viewMode aui-oktolab-form-table">
                <label>{{'inventory.set.items' | trans}}</label>
                {% if set.items|length == 0 %}
                    <span class="field-value">{{'inventory.set.zeroItems'|trans}}</span>
                {% else %}
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="name">{{'inventory.item.title' | trans}}</th>
                                <th>{{'inventory.item.description' | trans}}</th>
                                <th>{{'inventory.item.barcode' | trans}}</th>
                                <th>{{'inventory.item.buydate' | trans}}</th>
                                <th>{{'inventory.item.serialnumber' | trans}}</th>
                                <th>{{'inventory.item.vendor' | trans}}</th>
                                <th>{{'inventory.item.modelnumber' | trans}}</th>
                                <th>{{'generic.actions'|trans}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in set.getItems %}
                                <tr>
                                    <td headers="name">{{ item.title }}</td>
                                    <td>{{ item.description }}</td>
                                    <td>{{ item.barcode }}</td>
                                    <td>{% if item.buyDate %}{{ item.buyDate|date('Y-m-d') }}{% endif %}</td>
                                    <td>{{ item.serialNumber }}</td>
                                    <td>{{ item.vendor }}</td>
                                    <td>{{ item.modelNumber }}</td>
                                    <td class="action" headers="action">
                                        <ul class="menu">
                                            <li>
                                                <a href="{{ path('inventory_item_show', { 'id': item.id }) }}">{{'generic.show' | trans}}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('inventory_item_edit', { 'id': item.id }) }}">{{'generic.edit' | trans}}</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </fieldset>
    </form>
{% endblock %}
{% block sidebar%}
    <aside class="aui-page-panel-sidebar">
        <h3>
            {{'inventory.set.attachments' | trans }} ({{ set.attachments | length }})
        </h3>
        <div id="expander-with-replace-text-content" class="aui-expander-content">
            {% for attachment in set.attachments %}
                <img src="{{ sauce(attachment) }}" />
            {% endfor %}
        </div>
    </aside>
{% endblock%}
