{% extends 'OktolabRentBundle::layout.html.twig' %}
{% block title 'inventory.set.tabtitle'|trans({'%title%': set.title}) %}
{% block content_header %}
<div class="aui-page-header-inner">
    <div class="aui-page-header-image">
        <div class="aui-avatar aui-avatar-xlarge aui-avatar-project">
            <div class="aui-avatar-inner">
                {% if set.picture is not null %}
                    <img src="{{ set.picture.getRelativePath|apply_filter('page_avatar') }}" />
                {% else %}
                    <img src="{{ asset('bundles/oktolabrent/images/set.png') }}" alt="{{ set.title }}" />
                {% endif %}
            </div>
        </div>
    </div>

    <div class="aui-page-header-main">
        <ol class="aui-nav aui-nav-breadcrumbs">
            <li>{{ 'generic.inventory'|trans }}</li>
            <li class="aui-nav-selected"><a href="{{ path('inventory_set') }}">{{ 'inventory.set.sets'|trans }}</a></li>
        </ol>
        <h1>
            <span id="title-text">
                {% if not set.available %}
                    <span class="aui-lozenge aui-lozenge-error">{{ 'inventory.set.not_active'|trans}}</span>
                {% endif %}
                {{ set.title }} - {{ set.barcode }}
            </span>
        </h1>
    </div>

    <div class="aui-page-header-actions">
        <div class="aui-buttons">
            <div class="aui-buttons">
                <a class="aui-button" href="{{ path('inventory_set_edit', { 'id' : set.id }) }}">
                    <span class="aui-icon aui-icon-small aui-iconfont-edit">Edit</span>
                    {{ 'generic.edit'|trans }}
                </a>

                <button class="aui-button aui-dropdown2-trigger" aria-owns="dropdown-menu-set" aria-haspopup="true" aria-controls="dropdown-menu-set">
                    <span class="aui-icon aui-icon-small aui-iconfont-configure">Configure</span>
                    {{ 'generic.tools'|trans }}
                </button>
                <div id="dropdown-menu-set" class="aui-dropdown2 aui-style-default">
                    <ul class="aui-list-truncate aui-dropdown2-section">
                        <li><a href="#">Anhänge (0)</a></li>
                        <li><a href="{{ path('inventory_set_picture_upload', { 'id': set.id }) }}">Profilbild aktualisieren</a></li>
                    </ul>
                    <ul class="aui-list-truncate aui-dropdown2-section">
                        <li><a href="{{ path('inventory_set_delete', { 'id': set.id }) }}">Entfernen</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<form class="aui">
    <fieldset>
        <h3>{{ 'inventory.set.set'|trans }}</h3>

        <div class="field-group viewMode">
            <label>{{ 'inventory.set.title'|trans }}</label>
            <span class="field-value">{{ set.title }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'inventory.set.barcode'|trans }}</label>
            <span class="field-value">{{ set.barcode }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'inventory.set.place'|trans }}</label>
            <span class="field-value">{{ set.place.title }}</span>
        </div>
        <div class="field-group viewMode">
            <label>{{ 'inventory.set.description'|trans }}</label>
            <span class="field-value">{{ set.description }}</span>
        </div>
    <div class="aui-group">
        <div class="aui-item">
        <h3>{{ 'inventory.set.items'|trans }}</h3>
        {% if set.items|length == 0 %}
            <span class="field-value">{{ 'inventory.set.zeroItems'|trans }}</span>
        {% else %}
            <table class="aui aui-table-sortable">
                <thead>
                    <tr>
                        <th>{{'inventory.item.state'| trans }}</th>
                        <th id="set_item_table_title">{{ 'inventory.item.title'|trans }}</th>
                        <th id="set_item_table_barcode">{{ 'inventory.item.barcode'|trans }}</th>
                        <th id="set_item_table_vendor">{{ 'inventory.item.vendor'|trans }}</th>
                        <th id="set_item_table_category">{{ 'inventory.item.category'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in set.items %}
                        <tr>
                            <td>{% include 'OktolabRentBundle:Inventory/Item:_item_active_lozenge.html.twig' %}</td>
                            <td headers="set_item_table_title">
                                <a href="{{ path('inventory_item_show', { 'id': item.id }) }}">{{ item.title }}</a>
                            </td>
                            <td headers="set_item_table_barcode">{{ item.barcode }}</td>
                            <td headers="set_item_table_vendor">{{ item.vendor }}</td>
                            <td headers="set_item_table_category">{{ item.category is not null ? item.category.title : '' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </div>
<div class="aui-item">
        <h3>{{ 'event.bookings'|trans }}</h3>
        {% if events|length == 0 %}
            <span class="field-value">{{ 'inventory.set.zeroBookings'|trans }}</span>
        {% else %}
            <table class="aui aui-table-sortable">
                <thead>
                    <tr>
                        <th>{{'event.state'| trans }}</th>
                        <th id="event_costunit">{{ 'event.costunit'|trans }}</th>
                        <th id="event_begin">{{ 'event.begin'|trans }}</th>
                        <th id="event_end">{{ 'event.end'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{% include 'OktolabRentBundle:Event/Event:_event_status_lozenge.html.twig'%}</td>
                            <td headers="event_costunit">{{ event.costunit.name }}</td>
                            <td headers="event_begin">{{ event.begin|date('Y.m.d H:i') }}</td>
                            <td headers="event_end">{{ event.end|date('Y.m.d H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </fieldset>
</form>
</div>
</div>
{% endblock %}

{% block sidebar %}
<aside class="aui-page-panel-sidebar"></aside>
{% endblock %}
