{% extends 'OktolabRentBundle:Admin\\Category:base.html.twig' %}

{%block buttons%}
    <a class="aui-button" href="{{ path('inventory_category_new') }}">{{ 'inventory.category.new' | trans }}</a>
{%endblock%}
{% block content %}
    {{ parent() }}

    {% if entities|length == 0 %}
        <br />
        {{ 'inventory.category.noneFound' | trans }}
    {% else %}
        <table class="aui">
            <thead>
                <tr>
                    <th id="title">{{'inventory.category.title'|trans}}</th>
                    <th id="items">{{'generic.numberThings'|trans({'%thing%':'inventory.item.items'|trans})}}</th>
                    <th id="action">{{'generic.actions'|trans}}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td headers="title">{{ entity.title }}</td>
                    <td headers="items">{{ entity.items | length }}</td>
                    <td class="action" headers="action">
                        <ul class="menu">
                            <li><a href="{{ path('inventory_category_show', { 'id': entity.id }) }}">{{'generic.show'|trans}}</a></li>
                            <li><a href="{{ path('inventory_category_edit', { 'id': entity.id }) }}">{{'generic.edit'|trans}}</a></li>
                            <li><a href="{{ path('inventory_category_delete', { 'id': entity.id }) }}">{{'generic.delete'|trans}}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}