{% extends 'OktolabRentBundle:Admin:layout.html.twig' %}

{% set highlight_action = "category" %}

{% block content %}
    <h1 class="admin-heading">{{ 'Categories' | trans }}</h1>

    <table class="aui">
        <thead>
            <tr>
                <th id="title">{{ 'Title' | trans }}</th>
                <th id="items">{{ 'Items' | trans}}</th>
                <th id="action">{{ 'Actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td headers="title">{{ entity.title }}</td>
                <td headers="items">{{ entity.items | length }}</td>
                <td class="action" headers="action">
                    <ul class="menu">
                        <li><a href="{{ path('inventory_category_show', { 'id': entity.id }) }}">{{ 'show' | trans }}</a></li>
                        <li><a href="{{ path('inventory_category_edit', { 'id': entity.id }) }}">{{ 'edit' | trans }}</a></li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}