{% extends 'OktolabRentBundle:Admin\\Category:base.html.twig' %}

{% block content %}
    {{ parent() }}

    {{ form_start(form, {'attr': {'class': 'aui'} }) }}
        <h3>{{'inventory.category.new'|trans}}</h3>
        <fieldset>
            <legend><span>{{'inventory.category.new'|trans}}</span></legend>
            {{ form_errors(form) }}
            {{ form_row(form.title) }}

            <div class="buttons-container">
                <button class="aui-button aui-button-primary" type="submit">{{'generic.submit'|trans}}</button>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}