{% extends "::base.html.twig" %}
{% import 'OktolabRentBundle::aui_tools.html.twig' as macro %}

{% block title 'Demo Bundle' %}

{% block page_header %}
        {{ include('::header.html.twig') }}
{% endblock page_header %}

{% block page_main %}
    <section id="content" role="main">
        <header class="aui-page-header">
            {% block content_header %} {% endblock %}
        </header>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                    {% if app.environment in ['dev', 'test'] %}
                        <div class="beta-ribbon-wrapper"><div class="beta-ribbon"><a href="http://de.wikipedia.org/wiki/Entwicklungsstadium_%28Software%29#Beta-Version">Beta</a></div></div>
                    {% endif %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        {{ macro.aui_message(flashMessage, 'error') }}
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        {{ macro.aui_message(flashMessage, 'success') }}
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        {{ macro.aui_message(flashMessage, 'warning') }}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </section>
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock page_main %}

{% block page_footer %}
    <footer id="footer" class="rent-footer">
        <section class="footer-body">
            <ul>
                <li>Copyright &copy; 2013 Oktolab</li>
                <li>Oktolab RENT pre-alpha 3.0</li>
                <li><a href="#" id="bugtracker">{{'generic.bugReport'|trans}}</a></li>
                <li><a href="{{ rent_documentation_url }}">{{'generic.documentation'|trans}}</a></li>
            </ul>
        </section>
    </footer>
{% endblock page_footer %}
