{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Administration' %}

{% if highlight_action is not defined %}
    {% set highlight_action = null %}
{% endif %}

{% block page_main %}
    <section id="content" role="main">
        <header class="aui-page-header">
            {% block content_header %}<h1>Oktolab RENT Administration</h1>{% endblock %}
        </header>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">
                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            <div class="aui-nav-heading"><strong>{{ 'Inventory' | trans }}</strong></div>
                            <ul class="aui-nav">
                                <li{% if highlight_action == "category" %} class="aui-nav-selected"{% endif %}><a href="{{ path('inventory_category') }}">{{ 'Categories' | trans }}</a></li>
                                <li{% if highlight_action == "place" %} class="aui-nav-selected"{% endif %}><a href="{{ path('inventory_place') }}">{{ 'Places' | trans }}</a></li>
                            </ul>
                            <div class="aui-nav-heading"><strong>{{ 'Administration' | trans }}</strong></div>
                            <ul class="aui-nav">
                                <li><a href="#">User Management</a></li>
                                <li><a href="#">Application links</a></li>
                                <li><a href="#">Licensing</a></li>
                                <li><a href="#">Oktolab Support</a></li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <section class="aui-page-panel-content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </section>
{% endblock page_main %}
