{% extends "OktolabRentBundle::layout.html.twig" %}

{% block title 'Administration' %}

{% if highlight_action is not defined %}
    {% set highlight_action = null %}
{% endif %}

{% block page_main %}
    <section id="content" role="main">
        <header class="aui-page-header">
            {% block content_header %}<h1>{{'admin.admin'|trans}}</h1>{% endblock %}
        </header>

        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav">
                    <nav class="aui-navgroup aui-navgroup-vertical">
                        <div class="aui-navgroup-inner">
                            <div class="aui-nav-heading"><strong>{{ 'generic.inventory' | trans }}</strong></div>
                            <ul class="aui-nav">
                                <li{% if highlight_action == "category" %} class="aui-nav-selected"{% endif %}><a href="{{ path('inventory_category') }}">{{ 'inventory.categories' | trans }}</a></li>
                                <li{% if highlight_action == "place" %} class="aui-nav-selected"{% endif %}><a href="{{ path('inventory_place') }}">{{ 'inventory.places' | trans }}</a></li>
                            </ul>
                            <div class="aui-nav-heading"><strong>{{ 'generic.administration' | trans }}</strong></div>
                            <ul class="aui-nav">
                                <li{% if highlight_action == "user" %} class="aui-nav-selected"{% endif %}><a href="{{ path('security_user') }}">{{ 'admin.userManagement' | trans }}</a></li>
                                <li><a href="#">{{'admin.applicationLinks'|trans}}</a></li>
                                <li><a href="#">{{'admin.licensing'|trans}}</a></li>
                                <li><a href="#">{{'admin.oktolabSupport'|trans}}</a></li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <section class="aui-page-panel-content">
                    {% block content %}{% endblock %}
                </section>
            </div>
        </div>
    </section>
{% endblock page_main %}
