{% if event.state(false) == 2 %}
    <a href="{{ path('OktolabRentBundle_Event_Deliver', { 'id': event.id }) }}">
        <span class="aui-lozenge aui-lozenge-moved aui-lozenge-subtle">{{ event.state(true)|trans }}</span>
    </a>
{% elseif event.state(false) == 3 %}
    <a href="{{ path('ORB_Event_Check', { 'id': event.id }) }}">
        <span class="aui-lozenge aui-lozenge-current aui-lozenge-subtle">{{ event.state(true)|trans }}</span>
    </a>
{% elseif event.state(false) == 5 %}
    <a href="{{ path('orb_event_show', { 'id': event.id }) }}">
        <span class="aui-lozenge aui-lozenge-success aui-lozenge-subtle">{{ event.state(true)|trans }}</span>
    </a>
{% else %}
    <a href="{{ path('OktolabRentBundle_Event_Edit', { 'id': event.id }) }}">
        <span class="aui-lozenge aui-lozenge-complete">{{ event.state(true)|trans }}</span>
    </a>
{% endif %}