{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% block content_header %}
        <div class="aui-page-header-inner">

                <ol class="aui-progress-tracker aui-progress-tracker-inverted" style="width: 600px">
                    {% set state = form.vars.value.state %}
                    {% set current = 'aui-progress-tracker-step-current' %}

                    <li class="aui-progress-tracker-step"><span>{{ 'event.reserve'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state <= constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_RESERVED') ? current : '' }}"><span>{{ 'event.lent_or_change'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_LENT') ? current : '' }}"><span>{{ 'event.deliver'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DELIVERED') ? current : '' }}"><span>{{ 'event.complete'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DEFERRED') ? current : '' }}"><span>{{ 'event.deferred'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_COMPLETED') ? current : '' }}"><span>{{ 'event.completed'|trans }}</span></li>
                </ol>

        </div>
{% endblock %}
{% block content %}
    <div id="event-form">
        <h2>{{ 'event.booking_for_costunit'|trans({'%costunit%': form.vars.value.costunit.name}) }}</h2>
        {{ form_start(form, {'attr': {'class': 'aui', 'novalidate': 'novalidate'} }) }}
        <fieldset>
            {{ form_errors(form) }}
            {% for qms in form.qmss %}
                    {% if qms.vars.value.active and qms.vars.value.id is empty %}
                        <h3><a href="{{ path('inventory_item_show', { 'id': qms.vars.value.item.id}) }}" title="{{qms.vars.value.item.set.title|default('')}}">{{ qms.vars.value.item.title }}</a> <span class="smalltext">({{ qms.vars.value.item.barcode }})</span></h3>
                        <div class="field-group">
                            <label>{{'inventory.item.notice'|trans}}</label>
                            <span class="field-value">{{qms.vars.value.item.notice|default('inventory.item.notice_empty'|trans)}}</span>
                        </div>
                        <div class="field-group">
                            <label>{{'qms.history'|trans}}</label>
                            {% if qms.vars.value.item.qmss|length == 0 %}
                                <span class="field-value">{{ 'qms.no_qmss'|trans }}</span>
                            {% else %}
                            <span class="field-value"><ul>
                                {% for old_qms in qms.vars.value.item.qmss %}
                                    {% if old_qms.active and old_qms.status > 1 %}
                                        <li>{{ old_qms.description }}</li>
                                    {% endif %}
                                {% endfor%}
                                </ul></span>
                            {% endif %}
                        </div>
                        {{ form_row(qms.status) }}
                        <div class="field-group">
                            {{ form_label(qms.description) }}
                            {{ form_widget(qms.description) }}
                            {{ form_errors(qms) }}
                        </div>
                        <div class="hidden">
                            {{ form_row(qms.item, {'attr': {'class': 'hidden'} }) }}
                            {{ form_row(qms.event, {'attr': {'class': 'hidden'} }) }}
                            {{ form_row(qms.active, {'attr': {'class': 'hidden'} }) }}
                        </div>
                    {% else %}
                        <div class="hidden">
                            {{ form_row(qms) }}
                        </div>
                    {% endif %}
            {% endfor %}
        </fieldset>
        <div class="buttons-container">
            {{ form_widget(form.save, {'attr': {'class': 'aui-button aui-button-primary'} }) }}
        </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
