{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% set type = form.vars.value.type.name|lower %}
{% block content_header %}
        <div class="aui-page-header-inner">

                <ol class="aui-progress-tracker aui-progress-tracker-inverted" style="width: 600px">
                    {% set state = form.vars.value.state %}
                    {% set current = 'aui-progress-tracker-step-current' %}

                    <li class="aui-progress-tracker-step"><span>{{ 'Reservieren'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state <= constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_RESERVED') ? current : '' }}"><span>{{ 'Ausgeben oder Ändern'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_LENT') ? current : '' }}"><span>{{ 'Rücknehmen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DELIVERED') ? current : '' }}"><span>{{ 'Abschließen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_COMPLETED') ? current : '' }}"><span>{{ 'Abgeschlossen'|trans }}</span></li>
                </ol>

        </div>
{% endblock %}

{% block content %}
    <div id="event-form">
        <h2>
            {% if form.vars.value.costunit is empty %}
                {{ 'event.booking'|trans }}
            {% elseif form.vars.value.seriesEvent is not null %}
                {{ 'event.series_booking_for_costunit'|trans|replace({
                    '%costunit%': form.vars.value.costunit.name,
                    '%link_start%': '<a href="'~path('orb_show_series_event', {'series_event': form.vars.value.seriesEvent.id})~'">',
                    '%link_end%': '</a>'})|raw
                }}
            {% else %}
                {{ 'event.booking_for_costunit'|trans({'%costunit%': form.vars.value.costunit.name})}}
            {% endif %}
        </h2>
        {{ form_start(form, {'attr': {'class': 'aui'} }) }}
            <fieldset>
                <div class="hidden">
                    {{ form_row(form.type) }}
                </div>
                {{ form_errors(form) }}

                <div class="costunit-contact-search">
                    <div class="field-group">
                        {{ form_label(form.costunit) }}
                        <input
                            type="text"
                            class="text orb_event_costunit_typeahead"
                            value="{% if form.vars.value.costunit is not null %}{{form.vars.value.costunit.name}}{% endif %}"
                            data-id="{% if form.vars.value.costunit is not null %}{{form.vars.value.costunit.id}}{% endif %}"
                        >
                    </div>
                    {{ form_row(form.contact, {'attr': {'class': 'orb_event_contact'} }) }}
                    <div class="hidden">
                        {{ form_row(form.costunit, {'attr': {'class': 'orb_event_costunit'} }) }}
                        {{ form_row(form.type) }}
                    </div>
                    {{ form_row(form.description) }}
                </div>
            </fieldset>

            <h3>
                {% if type == 'inventory' %}
                    {{ 'event.rentable_objects'|trans }}
                {% else %}
                    {{ 'event.rentable_rooms'|trans }}
                {% endif %}
            </h3>
            <fieldset>
                <div class="object-date-search" data-event-id="{{form.vars.value.id}}">
                    {{ form_row(form.begin, {'attr': {'class': 'text event-datetime orb_event_form_event_begin'}}) }}
                    {{ form_row(form.end, {'attr': {'class': 'text event-datetime orb_event_form_event_end'}}) }}
                    <div class="field-group">
                        <label for="inventory-search-field">{{ 'generic.search'|trans }}</label>
                        <input class="text {% if type == 'inventory'%}orb_event_form_inventory_search{% else %}orb_event_form_room_search{% endif%}" type="text" id="inventory-search-field" name="inventory-search-field" title="{{ 'Search for Barcodes, Items, Sets, ...'|trans }}" disabled="disabled" />
                        <div class="description">{% if type == 'inventory' %}{{'event.inventory.search'|trans}}{% else %}{{'event.room.search'|trans}}{% endif %}</div>
                    </div>

                    <div class="field-group aui-oktolab-form-table">
                        <label>{{ 'event.objects'|trans }}</label>
                        <table class="aui">
                            <thead>
                                <tr>
                                    <th id="basic-barcode">{{ 'generic.barcode'|trans }}</th>
                                    <th id="basic-name">{{ 'generic.name'|trans }}</th>
                                    <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions'|trans }}</span></th>
                                </tr>
                            </thead>
                            <tbody id="inventory-event-objects" class="event-objects" data-index="{{objects|length}}" data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event:eventObjectPrototype.html.twig' %}{% endfilter %}">
                                {% for object in objects if objects %}
                                {% set formobject = form.objects[loop.index0] %}
                                {% set objective = '%s:%s'|format(object.type, object.id) %}
                                    <tr data-value="{{ objective }}">
                                        <td>{{ object.barcode }}</td>
                                        <td>{{ object.title }}</td>
                                        <td class="event-object-icons">
                                            <a href="#" class="remove" data-value="{{ objective }} ">
                                                <span class="aui-icon aui-icon-small aui-iconfont-remove">{{ 'Remove'|trans }}</span>
                                            </a>
                                        </td>
                                        <td class="hidden">{{ form_row(formobject, { 'attr': { 'data-value': objective } }) }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>

            <div class="buttons-container">
                <div class="buttons">

                    {% if form.vars.value.state == 1 or form.vars.value.state == 0 %} {# event is reserved, can be lent#}
                        {{ form_widget(form.rent, {'attr': { 'class': 'aui-button aui-button-primary'}, 'label': 'event.rent'|trans }) }}
                        {{ form_widget(form.update, {'attr': { 'class': 'aui-button' }, 'label': 'event.update'|trans }) }}
                    {% elseif form.vars.value.state == 2 %} {# event is lent, can be taken back #}
                        {{ form_widget(form.rent, {'attr': { 'class': 'aui-button aui-button-primary'}, 'label': 'event.deliver'|trans }) }}
                    {% endif %}

                    {% if form.vars.value.id is not null %}
                        <a href="{{ path('event_pdf', { 'id': form.vars.value.id }) }}" class="aui-button">{{ 'event.printPdf'|trans }}</a>
                    {% endif %}
                    {% if form.vars.value.state == 1 %}
                        <a href="{{ path('orb_event_cancel', { 'id': form.vars.value.id }) }}" class="aui-button aui-button-link">{{ 'event.cancel'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            {% do form.objects.setRendered %}
            {% do form.update.setRendered %}
            {% do form.delete.setRendered %}
            {% do form.rent.setRendered %}
            {% do form.cancel.setRendered %}
        {{ form_end(form) }}
    </div>
{% endblock %}
