{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% set type = form.vars.value.type.name|lower %}
{% block content_header %}
        <div class="aui-page-header-inner">

                <ol class="aui-progress-tracker aui-progress-tracker-inverted" style="width: 600px">
                    {% set state = form.vars.value.state %}
                    {% set current = 'aui-progress-tracker-step-current' %}

                    <li class="aui-progress-tracker-step"><span>{{ 'Reservieren'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state <= constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_RESERVED') ? current : '' }}"><span>{{ 'Ausgeben oder Ändern'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_LENT') ? current : '' }}"><span>{{ 'Rücknehmen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DELIVERED') ? current : '' }}"><span>{{ 'Abschließen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_COMPLETED') ? current : '' }}"><span>{{ 'Abgeschlossen'|trans }}</span></li>
                </ol>

        </div>
{% endblock %}

{% block content %}
    <div id="event-form">
        <h2>
            {% if form.vars.value.costunit is empty %}
                {{ 'event.booking'|trans }}
            {% else %}
                {{ 'event.booking_for_costunit'|trans({'%costunit%': form.vars.value.costunit.name}) }}
            {% endif %}
        </h2>
        {{ form_start(form, {'attr': {'class': 'aui', 'id': type~'-edit-form', 'data-value':form.vars.value.id } }) }}
            <fieldset>
                {{ form_errors(form) }}

                {{ form_row(form.name) }}
                {{ form_row(form.costunit, { 'attr': { 'data-name': form.vars.value.costunit is not null ? form.vars.value.costunit.name : '' } }) }}
                {{ form_row(form.contact, { 'attr': { 'data-name': form.vars.value.contact is not null ? form.vars.value.contact.name : '' } } ) }}
                {{ form_row(form.description) }}
                {{ form_row(form.begin, {'attr': {'data-timeblock-times': timeblock_times, 'class': type~'-edit-beginDate'}}) }}
                {{ form_row(form.end,  {'attr': {'data-timeblock-times': timeblock_times, 'class': type~'-edit-endDate'}}) }}
            </fieldset>

            <h3>
                {% if type == 'inventory' %}
                    {{ 'event.rentable_objects'|trans }}
                {% else %}
                    {{ 'event.rentable_rooms'|trans }}
                {% endif %}
            </h3>
            <fieldset>
                <div class="field-group">
                    <label for="oktolabrentbundle_event_editform_searchfield">{{ 'generic.search'|trans }}</label>
                    <input class="text" type="text" id="{{type~'-edit-search-field'}}" disabled="disabled">
                    <div class="description">
                        {% if type == 'inventory' %}
                            {{ 'event.searchFor'|trans }} {{'generic.barcodes'|trans}}, {{'inventory.items'|trans}}, {{'inventory.sets'|trans}}, ...
                        {% else %}
                            {{ 'event.searchFor'|trans }} {{'generic.barcodes'|trans}}, {{ 'generic.name'|trans}}
                        {% endif %}
                    </div>
                </div>

                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'event.objects'|trans }}</label>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="basic-barcode">{{ 'Barcode'|trans }}</th>
                                <th id="basic-name">{{ 'Name'|trans }}</th>
                                <th id="basic-action"><span class="aui-icon aui-icon-small aui-iconfont-configure">{{ 'Actions'|trans }}</span></th>
                            </tr>
                        </thead>
                        <tbody class="event-objects"
                               id="{{type~'-edit-event-objects'}}"
                               data-prototype="{% filter escape %}{% include 'OktolabRentBundle:Event:eventObjectPrototype.html.twig' %}{% endfilter %}"
                               data-index="{{ objects|length }}">
                            {% for object in objects if objects %}
                                {% set formobject = form.objects[loop.index0] %}
                                {% set objective = '%s:%s'|format(object.type, object.id) %}

                                <tr data-value="{{ objective }}">
                                    <td>{{ object.barcode }}</td>
                                    <td>{{ object.title }}</td>
                                    <td class="event-object-icons">
                                        <a href="#" class="remove" data-value="{{ objective }} ">
                                            <span class="aui-icon aui-icon-small aui-iconfont-remove">{{ 'Remove'|trans }}</span>
                                        </a>
                                        <a href="#" class="scan" data-value="{{ objective }}">
                                            <span class="aui-icon aui-icon-small aui-iconfont-approve">{{ 'Scan'|trans }}</span>
                                        </a>
                                    </td>
                                    <td class="hidden">{{ form_row(formobject, { 'attr': { 'data-value': objective } }) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>

            <div class="buttons-container">
                <div class="buttons">

                    {% if form.vars.value.state == 1 or form.vars.value.state == 0%} {# event is reserved, can be lent#}
                        {{ form_widget(form.rent, {'attr': { 'class': 'aui-button aui-button-primary', 'aria-disabled': 'true' }, 'label': 'event.rent'|trans }) }}
                        {{ form_widget(form.update, {'attr': { 'class': 'aui-button' }, 'label': 'event.update'|trans }) }}
                    {% elseif form.vars.value.state == 2 %} {# event is lent, can be taken back #}
                        {{ form_widget(form.rent, {'attr': { 'class': 'aui-button aui-button-primary'}, 'label': 'event.deliver'|trans }) }}
                    {% endif %}

                    {% if form.vars.value.id is not null %}
                        <a href="{{ path('event_pdf', { 'id': form.vars.value.id }) }}" class="aui-button">{{ 'event.printPdf'|trans }}</a>
                    {% endif %}
                    {% if form.vars.value.state <= 1 %}
                        <a href="{{ path('orb_event_cancel', { 'id': form.vars.value.id }) }}" class="aui-button aui-button-link">{{ 'event.cancel'|trans }}</a>
                    {% endif %}
                </div>
            </div>

            {% do form.objects.setRendered %}
            {% do form.update.setRendered %}
            {% do form.delete.setRendered %}
            {% do form.rent.setRendered %}
            {% do form.cancel.setRendered %}
        {{ form_end(form) }}
    </div>
{% endblock %}
