{% extends 'OktolabRentBundle::layoutFocusedTask.html.twig' %}
{% set type = event.type.name|lower %}
{% block content_header %}
        <div class="aui-page-header-inner">

                <ol class="aui-progress-tracker aui-progress-tracker-inverted" style="width: 600px">
                    {% set state = event.state %}
                    {% set current = 'aui-progress-tracker-step-current' %}

                    <li class="aui-progress-tracker-step"><span>{{ 'Reservieren'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state <= constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_RESERVED') ? current : '' }}"><span>{{ 'Ausgeben oder Ändern'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_LENT') ? current : '' }}"><span>{{ 'Rücknehmen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DELIVERED') ? current : '' }}"><span>{{ 'Abschließen'|trans }}</span></li>
                    <li class="aui-progress-tracker-step {{ state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_COMPLETED') ? current : '' }}"><span>{{ 'Abgeschlossen'|trans }}</span></li>
                </ol>

        </div>
{% endblock %}

{% block content %}
    <form class="aui">
        <h2>
            {% if event.costunit is empty %}
                {{ 'event.booking'|trans }}
            {% else %}
                {{ 'event.booking_for_costunit'|trans({'%costunit%': event.costunit.name}) }}
            {% endif %}
        </h2>
            <fieldset>
                <div class="field-group viewMode">
                    <label>{{ 'admin.costunit'|trans }}</label>
                    <span class='field-value'>{{ event.costunit.name|default('event.no_costunit'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'admin.contact'|trans }}</label>
                    <span class='field-value'>{{ event.contact.name|default('event.no_contact'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'generic.description'|trans }}</label>
                    <span class='field-value'>{{ event.description|default('event.no_description'|trans) }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'event.begin'|trans }}</label>
                    <span class='field-value'>{{ event.begin|date('H:i d.m.Y') }}</span>
                </div>
                <div class="field-group viewMode">
                    <label>{{ 'event.end'|trans }}</label>
                    <span class='field-value'>{{ event.end|date('H:i d.m.Y') }}</span>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'event.objects'|trans }}</label>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th id="basic-barcode">{{ 'generic.barcode'|trans }}</th>
                                <th id="basic-name">{{ 'generic.name'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects if objects %}
                                <tr>
                                    <td>{{ object.barcode }}</td>
                                    <td>{{ object.title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset>
                <div class="field-group aui-oktolab-form-table">
                    <label>{{ 'qms.history'|trans }}</label>
                    <table class="aui">
                        <thead>
                            <tr>
                                <th><span>{{ 'qms.status'|trans }}</span></th>
                                <th>{{ 'inventory.item.item'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for qms in event.qmss if event.qmss %}
                            <tr>
                                <td>
                                    {% set vars = {'qms': qms }%}
                                    {% include 'OktolabRentBundle:Inventory/Item:_item_status_lozenge.html.twig' with vars%}
                                </td>
                                <td><a href="{{ path('inventory_item_show', {'id': qms.item.id}) }}">{{ qms.item.title }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <div class="event-controls buttons-container">
                <div class="buttons">
                    {% if event.state is constant('\\Oktolab\\Bundle\\RentBundle\\Entity\\Event::STATE_DEFERRED')%}
                    <a href="{{ path('ORB_Event_Check', {'id': event.id}) }}" class="aui-button">{{ 'event.deliver'|trans }}</a>
                    {% endif %}
                    <a href="{{ path('rentbundle_dashboard') }}" class="aui-button aui-button-link">{{ 'generic.dashboard'|trans }}</a>
                    <span class="event-hyperlink-separator">·</span>
                    <a href="{{ path('event_pdf', { 'id': event.id }) }}" class="aui-button aui-button-primary">{{ 'event.printPdf'|trans }}</a>
                </div>
            </div>
        </form>
{% endblock %}