{# override form_row #}
{% block form_row %}
    {% spaceless %}
        <div class="field-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{# override form_label #}
{% block form_label %}
    {% spaceless %}
        <label {% if compound == false %} for="{{ id }}"{% endif %}>
            {{ name|humanize|trans }}
            {% if required %}<span class="aui-icon icon-required"> required</span>{% endif %}
        </label>
    {% endspaceless %}
{% endblock %}

{# override form_widget_simple #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input
            class="text" type="{{ type }}"
            id="{{ id }}"
            title="{{ name }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %}{{ value }}{% endif %}
        />
    {% endspaceless %}
{% endblock %}

{# override textarea_widget #}
{% block textarea_widget %}
    {% spaceless %}
        <textarea
            class="textarea" id="{{ id }}"
            {{ block('widget_attributes') }}
        >{% if value is not empty %}{{ value }}{% endif %}</textarea>

    {% endspaceless %}
{% endblock %}<textarea <?php echo $view['form']->block($form, 'widget_attributes') ?>><?php echo $view->escape($value) ?></textarea>
