{# override form_row #}
{% block form_row %}
    {% spaceless %}
        <div class="field-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{# override form_label #}
{% block form_label %}
    {% spaceless %}
        <label {% if compound == false %} for="{{ id }}"{% endif %}>
            {{ name|humanize|trans }}
            {% if required %}<span class="aui-icon icon-required"> required</span>{% endif %}
        </label>
    {% endspaceless %}
{% endblock %}

{# override form_widget #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input
            class="text" type="{{ type }}"
            id="{{ id }}"
            title="{{ name }}"
            {% if value is not empty %} value="{{ value }}"{% endif %}
        />
    {% endspaceless %}
{% endblock %}
