{# override form_row #}
{% block form_row %}
    {% spaceless %}
        <div class="field-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{# override form_label #}
{% block form_label %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <label {% if compound == false %} for="{{ id }}"{% endif %}>
            {{ label|trans }}
            {% if required %}<span class="aui-icon icon-required">required</span>{% endif %}
        </label>
    {% endspaceless %}
{% endblock %}

{# override form_errors #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length == 1 %}
            <div class="error">{{ errors|first.message }}</div>
        {% elseif errors|length >= 2 %}
            <div class="error">
                <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            {# print nothing #}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# override form_widget_simple #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set attr = attr|merge({'class': 'text' ~ ' ' ~ attribute(attr, 'class')|default('') }) %}
        <input
            type="{{ type }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
        />
    {% endspaceless %}
{% endblock %}

{# override textarea_widget #}
{% block textarea_widget %}
    {% spaceless %}
        <textarea
            class="textarea" id="{{ id }}"
            {{ block('widget_attributes') }}
        >{% if value is not empty %}{{ value }}{% endif %}</textarea>
    {% endspaceless %}
{% endblock %}

{# override date_widget #}
{% block date_widget %}
    {% spaceless %}
        <input
            class="aui-date-picker" type="date" {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
        />
    {% endspaceless %}
{% endblock %}

{# override file_widget #}
{% block file_widget %}
    {% spaceless %}
        <input
            class="upfile" type="file" {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
        />
    {% endspaceless %}
{% endblock %}

{% block choice_widget_collapsed %}
{% spaceless %}
    <select class="select" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% if empty_value is not none %}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
{% endspaceless %}
{% endblock choice_widget_collapsed %}

