{# override form_row #}
{% block form_row %}
    {% spaceless %}
        <div class="field-group">
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock %}

{# override form_label #}
{% block form_label %}
    {% spaceless %}
        <label {% if compound == false %} for="{{ id }}"{% endif %}>
            {{ name|humanize|trans }}
            {% if required %}<span class="aui-icon icon-required"> required</span>{% endif %}
        </label>
    {% endspaceless %}
{% endblock %}

{# override form_widget_simple #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input
            class="text" type="{{ type }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %} value="{{ value }}"{% endif %}
        />
    {% endspaceless %}
{% endblock %}

{# override textarea_widget #}
{% block textarea_widget %}
    {% spaceless %}
        <textarea
            class="textarea" id="{{ id }}"
            {{ block('widget_attributes') }}
        >{% if value is not empty %}{{ value }}{% endif %}</textarea>
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length == 1 %}
            <div class="error">{{ errors|first.message }}</div>
        {% else %}
            <div class="error">
                <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}